<page-header></page-header>
<main role="main" class="app-main">
    <div class="section">
        <div class="container-medium-width edit-info">
            <h2 class="page-sm-heading-teal">Manage Groups</h2>
            <h3 class="page-lg-heading">{{institutionName}}</h3>

            <div class="section center">
                <i class="icon under-construction-icon"></i>
                <p class="text-larger section-medium-thin">We’re working to bring you this page soon! In the meantime, please contact us at
                    <a href="mailto:newproduct@kaplan.com">newproduct@kaplan.com</a> with any questions or feedback about
                    our upcoming enhancements.
                </p>
                 <a [routerLink]="['/home']">Go to Home page</a>
            </div>
        </div>
    </div>
</main>
<page-footer></page-footer>