<page-header [hideDropdown]=true></page-header>

<main role="main" class="app-logged-out">
    <div class="section">
        <div class="container-narrow">
            <h2>Password help</h2>
            <p>
                Forgot your password? Enter your email address and we’ll send you instructions on how to reset it.
            </p>
            <form class="all-inputs-required margin-2em-top" role="form">
                <label for="forgotPassword">Email address</label>
                <input type="email" class="required-input" #forgotpassword id="forgotPassword" (keyup)="0" aria-required="true">
                <p #errorcontainer class="error" role="alert" aria-live="assertive" aria-atomic="true">
                    <span id="spnErrorMessage">{{errorMessage}}</span>
                </p>
                <button id="btnSend" type="submit" class="button button-mobile-block margin-2em-top" [attr.aria-disabled]="!(forgotpassword.value.length > 0)" [disabled]="!(forgotpassword.value.length > 0)" #send (click)="onForgotPassword(forgotpassword,send,errorcontainer,$event)">
                    Send instructions
                </button>
            </form>
        </div>
    </div>
</main>
