<page-header></page-header>

<main role="main" class="app-main">
    <div class="section">
        <rosters-header [institutionName]="institutionName"></rosters-header>
        <rosters-faq  [accountManagerId]="accountManagerId"></rosters-faq>
        <rosters-multicampus *ngIf="institutions && institutions.length>1" (onInstitutionChange)="onInstitutionChange($event)" ></rosters-multicampus>
        <rosters-search *ngIf="institutionId" [institutionId]="institutionId"></rosters-search>
        <rosters-cohorts *ngIf="institutionId" [institutionId]="institutionId"></rosters-cohorts>
    </div>
</main>

<page-footer></page-footer>