<nav class="dropdown" role="navigation" aria-label="primary">
	<div class="dropdown-container">
		<a href="javascript:void(0)"  id="lnkMenu"  role="button" class="dropdown-button" data-toggle="dropdown"  [attr.aria-disabled]="ariaDisabled" aria-haspopup="true">Main Menu</a>
		<ul class="dropdown-menu dropdown-select">
			<li><a [routerLink]="['/Home']" class="menu-icon home-icon" >Home</a></li>
			<li><a href="#" class="menu-icon reporting-icon" >View Reports</a></li>
			<li><a href="#" class="menu-icon student-icon" >View Rosters</a></li>
			<li><a href="#" class="menu-icon group-icon" >Manage Groups</a></li>
			<li><a href="#" class="menu-icon test-icon" >Manage Tests</a></li>
			<li><a [routerLink]="['/Account']" class="menu-icon manage-icon" >Manage Account</a></li>
			<li><a href="#" class="menu-icon sign-out-icon" (click)="logout();">Sign Out</a></li>
		</ul>
	</div>
</nav>
	