Resources:
  AWSEBSecurityGroup: { "CmpFn::Remove" : {} }
  AWSEBAutoScalingLaunchConfiguration:
    Properties:
      SecurityGroups:  [ "sg-3aac5a55"]

option_settings:
  aws:elb:listener:80:
    ListenerProtocol: HTTPS
    InstanceProtocol: HTTP
    InstancePort: 80
    SSLCertificateId: arn:aws:iam::229683044909:server-certificate/WILDCARD.kaplan.com_2017

  aws:elb:listener:9000:
    ListenerProtocol: HTTPS
    InstanceProtocol: HTTP
    InstancePort: 9000
    SSLCertificateId: arn:aws:iam::229683044909:server-certificate/WILDCARD.kaplan.com_2017

  aws:elb:listener:3000:
    ListenerProtocol: HTTPS
    InstanceProtocol: HTTP
    InstancePort: 3000
    SSLCertificateId: arn:aws:iam::229683044909:server-certificate/WILDCARD.kaplan.com_2017

  aws:elb:listener:5000:
    ListenerProtocol: HTTPS
    InstanceProtocol: HTTP
    InstancePort: 5000
    SSLCertificateId: arn:aws:iam::229683044909:server-certificate/WILDCARD.kaplan.com_2017