<page-header> </page-header>
<section class="dashboard">
  <div class="dashboardSection-main">
    <div class="welcome-section">
      <div class="welcome">
        <span class="welcome-text"
          >HI {{ firstname | uppercase
          }}{{ templateJson.content.welcome_text | uppercase }}</span
        >
      </div>
      <div class="my-institution">
        <span class="institution-text">My Institution:</span>
        <label *ngIf="institutions.length==1">{{ selectedInstitution.InstitutionNameWithProgOfStudy }}</label>
        <span [class.hidden]="!(institutions.length>1)">
          <mat-form-field class="institution-select">
            <mat-select #institutionList [disableOptionCentering]="true" aria-label="My Institution"
              (selectionChange)="onInstitutionSelected($event)" [(value)]="selectedInstitution.InstitutionId" 
            >
              <mat-option matTooltip="{{ institution.InstitutionNameWithProgOfStudy }}"
                *ngFor="let institution of institutions | sort:'asc':'InstitutionNameWithProgOfStudy'"
                [value]="institution.InstitutionId"
              >
                {{ institution.InstitutionNameWithProgOfStudy }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </span>
      </div>
    </div>
    <app-content [content]="templateJson?.content"></app-content>
  </div>
</section>
<page-footer [footerLinks]="false"></page-footer>
