<main class="dashboard">
  <app-header [header]="templateJson.header"> </app-header>
  <app-subheader
    *ngIf="templateJson.subheader.show"
    [subheader]="templateJson.subheader"
  ></app-subheader>

  <div class="welcome-section">
    <div class="welcome">
      <span class="welcome-text">HI LINDA, WELCOME TO YOUR FACULTY PORTAL</span>
    </div>
    <div class="my-institution">
      <span class="institution-text">My Institution:&nbsp;</span>
      <!-- <span class="institution-name">
        Nursing School ABC Name
      </span> -->
      <mat-form-field style="min-width: 300px;">
        <mat-select (selectionChange)="onInstitutionSelected($event)" #institutionList>
          <mat-option
            *ngFor="let institution of institutions"
            [value]="institution.InstitutionId"
          >
            {{ institution.InstitutionNameWithProgOfStudy }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <app-content [content]="templateJson.content"></app-content>
</main>
