:host {
  display: flex;
  flex-direction: column;
  padding: 0 1.7rem;

  & .header {
    display: flex;
    align-items: baseline;
    color: #101b2b;
    margin: 0;
    padding: 0 0.5rem;
    font: 500 1.75rem "franklin-compressed";
  }

  .section {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
    flex-wrap: wrap;
    box-sizing: border-box;
    min-height: 360px;
    padding: 0;
    margin: 2rem 0;

    .panel {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;

      .panel__header {
        display: flex;
        align-items: baseline;
        justify-content: flex-start;
        padding: 0.5rem 0.8rem;
      }

      .panel__content {
        display: flex;
        flex: 1;
        flex-wrap: wrap;
      }

      .card {
        margin: 0.75rem;
        padding: 0.75rem;
        display: flex;
        flex-direction: column;
        flex: 1;
        border-top: 12px solid;
        border-radius: 5px;
        box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2),
          0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
      }
    }
  }
}
