body .datepicker, body .ui-timepicker-wrapper {
  z-index: 2001 !important;
}

@media (max-width: 768px) and (min-width: 551px) {
  body .datepicker {
    width: 100% !important;
    left: 0 !important;
    top: 73px !important;
    padding: .25em 1em;
    }
  body .datepicker-dropdown:before, body .datepicker-dropdown:after {
    display: none;
  }
}

@media (max-width: 550px) {
  body .datepicker, body .ui-timepicker-wrapper {
    border-radius: 0;
    width: 100% !important;
    position: fixed !important;
    top: 57px !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    padding-top: 20px;
    }
  body .ui-timepicker-wrapper {
    height: auto;
    padding-top: 0;
    top: 46px !important;
  }
  body .ui-timepicker-wrapper li {
    padding: 1em 2em;
    border-bottom: 1px solid #eee;
  }
  body .datepicker-dropdown:before, body .datepicker-dropdown:after {
    display: none;
  }
}
