<password-header></password-header>

<main role="main" class="app-logged-out">
    <div class="section">
        <div class="container-narrow">
            <h2>Thank you!</h2>
            <p>You will receive an email shortly.</p>
            <p>
                <span class="text-purple"><strong>Please note:</strong></span> If you don't receive an email from us within a few minutes,
                check your spam filter as sometimes emails end up there. The email will be from <b>nursing.it@kaplan.com</b>.
            </p>
        </div>
    </div>
</main>
