<password-header></password-header>

<main role="main" class="app-logged-out">
    <div class="section">
        <div class="container-narrow">
            <h2>Password help</h2>
            <p>
                Forgot your password? Enter your email address and we’ll send you instructions on how to reset it.
            </p>
            <form class="all-inputs-required margin-2em-top" role="form">
                <label for="forgotPassword">Email address</label>
                <input type="email" class="required-input" #forgotpassword id="forgotPassword" (keyup)="checkpasswordlength()" (mouseleave)="checkpasswordlength()" aria-required="true" >
                <p #errorcontainer class="error"><span id="spnErrorMessage"></span></p>
                <button id="btnSend" type="submit" class="button button-mobile-block margin-2em-top" aria-disabled="true" disabled #send (click)="onForgotPassword(forgotpassword,send,errorcontainer,$event)">
                    Send instructions
                </button>
            </form>
        </div>
    </div>
</main>