<password-header></password-header>

<main role="main" class="app-logged-out">
    <div class="section">
        <div class="container-medium-width center">
          <i class="icon clock-signed-out-icon"></i>
          <h2 class="margin-1em-top">We’re sorry! Your password reset link has expired.</h2>
          <p class="text-larger thin-section margin-1em-bottom">For your security, the password reset link in your email expires two hours after you request it.<br> You can go back to our
            password help page to request another email.
          </p>
          <a href="javascript:void(0)" [routerLink]="['/ForgotPassword']" class="button">Go to password help page</a>
       </div>
    </div>
</main>
