<!-- <page-header></page-header> -->

<main role="main" class="app-main">
 <!-- <page-subheader></page-subheader> -->

  <div class="section-teal thin-section">
    <nav class="navigation container" role="navigation" aria-label="secondary">
      <ul class="nav-items">
        <li class="nav-icon schedule-icon">
          <a href="#" (click)="redirectToRoute('choose-test')"
            >Schedule an Integrated Test</a
          >
        </li>
        <!-- <li class="nav-icon email-icon-outline"><a pageScroll pageScrollOffset="-15" [pageScrollDuration]="500" [routerLink]="['/account']" href="#sendStudentInfo" angulartics2On="click" angularticsEvent="SigninInfoClick" angularticsCategory="LoginHelp">Send student sign in info</a></li> -->
        <li class="nav-icon info-icon-white">
          <a [routerLink]="['/userguide']">View user guide</a>
        </li>
        <li class="nav-icon info-icon-white">
          <a [routerLink]="['/dashboard']">Dashboard</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="section section-white">
    <div class="container faculty-links">
      <div class="tools-link-grid">
        <div class="reporting-tools-grid">
          <h2>Reporting Tools</h2>
          <div class="faculty-links">
            <div class="faculty-link-list" *ngIf="!hasBetaInstitution">
              <h3 class="h4 text-smaller-margin">
                <a
                  class="mobile-button"
                  #linkReportStudentCard
                  (click)="
                    prepareRedirectToReports(
                      'StudentReportCard',
                      myform,
                      hdtoken,
                      hdpage,
                      hdexceptionurl
                    )
                  "
                  href="javascript:void(0)"
                  >Student Report Card</a
                >
              </h3>
              <span>Review your students’ performance at a glance</span>
            </div>
            <div class="faculty-link-list" *ngIf="!hasBetaInstitution">
              <h3 class="h4 text-smaller-margin">
                <a
                  class="mobile-button"
                  #linkReportCohortByQuestion
                  (click)="
                    prepareRedirectToReports(
                      'ReportCohortByQuestion',
                      myform,
                      hdtoken,
                      hdpage,
                      hdexceptionurl
                    )
                  "
                  href="javascript:void(0)"
                  >Test Result by Question</a
                >
              </h3>
              <span>Review performance by topic and difficulty level</span>
            </div>
            <div class="faculty-link-list" *ngIf="!hasBetaInstitution">
              <h3 class="h4 text-smaller-margin">
                <a
                  class="mobile-button"
                  #linkReportCohortByTest
                  (click)="
                    prepareRedirectToReports(
                      'ReportCohortByTest',
                      myform,
                      hdtoken,
                      hdpage,
                      hdexceptionurl
                    )
                  "
                  href="javascript:void(0)"
                  >Cohort by Test</a
                >
              </h3>
              <span>Review an entire cohort’s performance</span>
            </div>
            <div class="faculty-link-list" *ngIf="!hasBetaInstitution">
              <h3 class="h4 text-smaller-margin">
                <a
                  class="mobile-button"
                  #linkUtilizationReport
                  (click)="
                    prepareRedirectToReports(
                      'UtilizationReport',
                      myform,
                      hdtoken,
                      hdpage,
                      hdexceptionurl
                    )
                  "
                  href="javascript:void(0)"
                  >Utilization Report</a
                >
              </h3>
              <span>Review how your students are using their resources</span>
            </div>
            <div class="faculty-link-list" *ngIf="!hasBetaInstitution">
              <h3 class="h4 text-smaller-margin">
                <a
                  class="mobile-button"
                  #linkCohortComparision
                  (click)="
                    prepareRedirectToReports(
                      'CohortComparisonsReport',
                      myform,
                      hdtoken,
                      hdpage,
                      hdexceptionurl
                    )
                  "
                  href="javascript:void(0)"
                  >Category Comparisons</a
                >
              </h3>
              <span>Compare cohort performance in over 80 categories</span>
            </div>
            <div class="faculty-link-list" *ngIf="hasBetaInstitution">
              <h3 class="h4 text-smaller-margin">
                <a
                  class="mobile-button"
                  #linkReportStudentCard
                  (click)="
                    prepareRedirectToReports(
                      'ApolloStudentReportCard',
                      myform,
                      hdtoken,
                      hdpage,
                      hdexceptionurl
                    )
                  "
                  href="javascript:void(0)"
                  >Kaplan Reporting Suite <span class="ad red">NEW</span></a
                >
              </h3>
              <span
                >A <i>new</i> one-stop shop for all reporting needs such as
                scores, utilization, category and cohort comparisons, and
                more!</span
              >
            </div>
            <div class="faculty-link-list" *ngIf="hasBetaInstitution">
              <h3 class="h4 text-smaller-margin">
                <a
                  class="mobile-button"
                  #linkCohortComparision
                  (click)="
                    prepareRedirectToReports(
                      'ReportStudentCATReportCard',
                      myform,
                      hdtoken,
                      hdpage,
                      hdexceptionurl
                    )
                  "
                  href="javascript:void(0)"
                  >Computer Adaptive Test Report</a
                >
              </h3>
              <p>Review your students' performance on the Kaplan CAT Exams</p>
            </div>
            <div class="faculty-link-list" *ngIf="hasBetaInstitution">
              <h3 class="h4 text-smaller-margin">
                <a
                  class="mobile-button"
                  #linkReportTestsScheduledbyDate
                  (click)="
                    prepareRedirectToReports(
                      'ReportTestsScheduledbyDate',
                      myform,
                      hdtoken,
                      hdpage,
                      hdexceptionurl
                    )
                  "
                  href="javascript:void(0)"
                  >Tests Scheduled by Date</a
                >
              </h3>
              <p>
                View upcoming tests that have been scheduled in our legacy
                system
              </p>
            </div>
            <div
              class="faculty-link-list"
              *ngIf="hasBetaInstitution && ItSecurityEnabled"
            >
              <h3 class="h4 text-smaller-margin">
                <a
                  class="mobile-button"
                  #linkReportExamityExamStaus
                  *ngIf="ItSecurityEnabled"
                  (click)="
                    onClickExamityProfile(ssologin, encryptedUsername_val)
                  "
                  >Examity Proctoring Reports</a
                >
              </h3>
              <p *ngIf="ItSecurityEnabled">
                Review your students proctored exam reports in examity
              </p>
            </div>
            <div class="faculty-link-list" *ngIf="hasBetaInstitution">
              <h3 class="h4 base-font-color">
                Client Simulations (Mid-Fidelity) Reports
              </h3>
              <ul class="list-extra-spacing">
                <li>
                  <a
                    #linkReportStudentReportCardByModule
                    (click)="
                      prepareRedirectToReports(
                        'ReportStudentReportCardByModule',
                        myform,
                        hdtoken,
                        hdpage,
                        hdexceptionurl
                      )
                    "
                    href="javascript:void(0)"
                    class="margin-1em-bottom mobile-button"
                    >Individual Student Results by Module</a
                  >
                </li>
                <li>
                  <a
                    #linkReportCohortResultByModule
                    (click)="
                      prepareRedirectToReports(
                        'ReportCohortResultByModule',
                        myform,
                        hdtoken,
                        hdpage,
                        hdexceptionurl
                      )
                    "
                    href="javascript:void(0)"
                    class="margin-1em-bottom mobile-button"
                    >Overall Cohort Results and Cohort Results by Module</a
                  >
                </li>
                <li>
                  <a
                    #linkReportCaseComparisonByModule
                    (click)="
                      prepareRedirectToReports(
                        'ReportCaseComparisonByModule',
                        myform,
                        hdtoken,
                        hdpage,
                        hdexceptionurl
                      )
                    "
                    href="javascript:void(0)"
                    class="margin-1em-bottom mobile-button"
                    >Module Result Comparisons by Cohort</a
                  >
                </li>
              </ul>
            </div>
            <div
              class="faculty-link-list"
              *ngIf="hasIhpEnableInstitution"
            >
              <h3 class="h4 text-smaller-margin">
                <a
                  class="mobile-button"
                  #linkIhpReport
                  target="_blank"
                 (click)="onClickIhpReport()"
                  >i-Human Patients Reports</a
                >
              </h3>
              <p>
                Review your students' performance on the i-Human Patients assignments or cases.
              </p>
            </div>
            <div
              class="faculty-link-list"
              *ngIf="proctortrackITSecurityEnabled"
            >
              <h3 class="h4 text-smaller-margin">
                <a
                  class="mobile-button"
                  #linkIhpReport
                  target="_blank"
                 (click)="onClickProctortrackReport()"
                  >Proctortrack Proctoring Reports</a
                >
              </h3>
              <p>
                Review your students proctored exam reports in Proctortrack.
              </p>
            </div>
            <div class="faculty-link-list">
              <h3 class="h4 text-smaller-margin">
                <a
                  class="mobile-button"
                  #linkCohortComparision
                  (click)="
                    prepareRedirectToReports(
                      'ReportStudentAdmissionTestReportCard',
                      myform,
                      hdtoken,
                      hdpage,
                      hdexceptionurl
                    )
                  "
                  href="javascript:void(0)"
                  >Admissions Test Report</a
                >
              </h3>
              <p>
                Review your students' performance on the Kaplan Admissions Test
              </p>
            </div>
          </div>
        </div>
        <div class="teaching-tools-grid">
          <h2>Teaching Tools (Student Site)</h2>
          <div class="faculty-links">
            <div class="faculty-link-list">
              <h3 class="h4 text-smaller-margin">
                <a
                  class="mobile-button"
                  (click)="redirectToKaptest()"
                  target="_blank"
                  >Focused Review Tests</a
                >
              </h3>
              <p>For content mastery</p>
              <ul class="bullet">
                <li>Access standard tests or help students create their own</li>
                <li>Utilize extensive remediation resources</li>
              </ul>
            </div>
            <div class="faculty-link-list">
              <h3 class="h4 text-smaller-margin" *ngIf="institutionRN > 0">
                <a
                  class="mobile-button"
                  (click)="redirectToKaptest()"
                  target="_blank"
                  >Client Simulations<span class="smaller-small-text">
                    (Mid-Fidelity)</span
                  ></a
                >
              </h3>
              <h3 class="h4 text-smaller-margin">
                <a
                  class="mobile-button"
                  (click)="redirectToKaptest()"
                  target="_blank"
                  >Skills Demonstration Videos</a
                >
              </h3>
              <p>For practical learning simulation</p>
            </div>
            <div class="faculty-link-list">
              <h3 class="h4 text-smaller-margin">
                <a
                  class="mobile-button"
                  (click)="redirectToKaptest()"
                  target="_blank"
                  >NCLEX Resources</a
                >
              </h3>
              <p>For standardized test mastery</p>
              <ul class="bullet">
                <li>Access diagnostic tests and Question Trainers</li>
                <li>Access content, test-taking and Decision Tree videos</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="kaplan-consultant-profiles-section">
    <div class="section-purple"></div>
    <div class="section-light-gray">
      <div class="bottom-grid">
        <profile [profile]="accountManagerProfile"></profile>
        <profile [profile]="nurseConsultantProfile"></profile>
      </div>
    </div>
  </div>

  <!--Modal-->
  <div class="modal hidden">
    <input class="modal-state" id="modal-1" type="checkbox" />
    <div class="modal-fade-screen">
      <div class="modal-inner">
        <div class="modal-top">
          <div class="modal-close" aria-label="Close"></div>
        </div>
        <div class="modal-content">
          <h2 class="h4">Attend an upcoming Kaplan Orientation Webinar</h2>
          <p>
            Learn everything you need to know about the Kaplan resources
            available to you and your students! Our helpful online senimars,
            delivered by a Kaplan Nurse Consultant, are conveniently held
            throughout April, May and June.
          </p>
          <div class="modal-double-buttons">
            <button class="modal-close-button">See dates and sign up</button>
            <button class="modal-close-button">I'll sign up later</button>
            <div class="right">
              <input type="checkbox" />
              <label class="inline small-label">Don't show me this again</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Modal If IHP enable for MultiCampus-->
  <div id="ihpmulticampus" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content ">
        <div class="modal-header">
          <button type="button" class="close close-medium-icon-grey" aria-label="Close" data-dismiss="modal"></button>
          <div class="margin-2em-top-bottom" *ngIf="isMultiCampus_IHP">
            <select class="selectpicker" #chooseCampus id="chooseCampus" (change)="setInstitution(chooseCampus.value)" data-width="400" data-size="6" title='Choose an institution'>
                <option *ngFor="let campus of ihpEnableInstitutions; let i = index" [selected]="campus.InstitutionId==institutionID"  [value]='campus.InstitutionId'>{{campus.InstitutionNameWithProgOfStudy}}</option>
            </select>
        </div>
        </div>
        <div class="modal-footer">
          <button class="button OK-button-centered center" [disabled]="institutionID==0" (click)="goToIhpSSOLogin()">Continue</button>
        </div>
      </div>
     </div>
   </div>

  <!--Modal for proctortrack enable Institutions-->
   <div id="itSecurity" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content ">
        <div class="modal-header">
          <button type="button" class="close close-medium-icon-grey" aria-label="Close" data-dismiss="modal"></button>
          <div class="margin-2em-top-bottom" *ngIf="proctortrackITSecurityEnabled && ItSecurityEnabledInstitutions?.length > 1">
            <select class="selectpicker" #chooseITSecurityCampus id="chooseITSecurityCampus" (change)="setInstitutionforItSecurity(chooseITSecurityCampus.value)" data-width="400" data-size="6" title='Choose an institution'>
                <option *ngFor="let ITcampus of ItSecurityEnabledInstitutions; let i = index" [selected]="ITcampus.InstitutionId==institutionID" [value]='ITcampus.InstitutionId'>{{ITcampus.InstitutionNameWithProgOfStudy}}</option>
            </select>
        </div>
        </div>
        <div class="modal-footer">
          <button class="button OK-button-centered center" [disabled]="ITSecurityInstitutionID==0" (click)="takeToProctorTrackDashboard()">Continue</button>
        </div>
      </div>
     </div>
   </div>
</main>
<need-help></need-help>
<page-footer></page-footer>

<form #myform method="POST" target="_blank">
  <input #hdinstitution type="hidden" id="institutionID" name="institutionID" />
  <input #hdtoken type="hidden" id="jwtToken" name="jwtToken" />
  <input #hdpage type="hidden" id="redirectPage" name="redirectPage" />
  <input #hdexceptionurl type="hidden" id="exceptionURL" name="exceptionURL" />
</form>

<form
  #ssologin
  id="loginExamity"
  name="loginExamity"
  target="_blank"
  [action]="examityLoginURL"
  method="post"
>
  <input #encryptedUsername_val name="Username" type="hidden" />
</form>

<div #element [innerHTML] ="htmlSnippet | safe: 'html'" hidden></div>
