<div class="bottom-grid-cell" [class.bottom-grid-cell-left] = "profile.isAccountManager" [class.bottom-grid-cell-right] = "!profile.isAccountManager" >
  <div class="section-purple"></div>
  <div class="kaplan-profiles">
    <h2 class="profiles-heading" id='{{profile.firstName}}-{{profile.lastName}}'>{{profile.header}}</h2>
    <img [attr.src]='profile.photoUrl' class="profile-image img-round" width="131" height="131" alt='{{profile.firstName}} {{profile.lastName}} profile picture'  [attr.aria-describedby]="profile.firstName+'-'+profile.lastName">
    <p class="profile-name h5">{{profile.firstName}} {{profile.lastName}}</p>
    <p [class.invisible]="!profile.kaplanAdminId" class="h6 text-purple">{{profile.degrees}}</p>
    <a [class.invisible]="!profile.kaplanAdminId" [routerLink]="['profiles', !profile?.kaplanAdminId ? 0 : profile?.kaplanAdminId]" class="button">Learn more and contact</a>
  </div>
  <div [class.invisible]="!profile.kaplanAdminId" class="section-medium-thin for-help-list">
    <p class="bullet-heading">For help with:</p>
    <ul class="bullet bullet-indented">
      <li *ngFor="let bullet of profile.bulletsForFrontEnd">{{bullet}}</li>
    </ul>
  </div>
</div>