<page-header></page-header>
<main role="main" class="app-main">
    <div class="section">
        <div class="container-medium-width">
            <h2 class="page-sm-heading-teal">Manage Tests</h2>
            <h3 class="page-lg-heading block">{{institutionName}}</h3>
            <p><b>Please note:</b> All times listed are local based on your school’s time zone.</p>
            <a href="javascript:void(0)" (click)="redirectToRoute('choose-test')" class="button button-mobile-block center margin-1em-top-bottom">Schedule a test</a>
        </div>

        <div class="container-medium-width thin-section margin-1em-top">
            <div class="section section-beige container-dull-yellow-top text-larger">
                <p><strong>Please note:</strong> All upcoming tests scheduled through our new process will appear on this page.
                    However, there may still be upcoming tests for your school that have been scheduled through our old process.
                    <b>Information on tests scheduled through our 
            old process will not appear here.</b>
                </p>
                <p>You can view upcoming tests that have been scheduled through our old process by accessing the ​<b>Tests Scheduled by Date</b>                    report from the <a [routerLink]="['/Reports']">View Reports</a> page.
                </p>
                <p class="no-margin-bottom">
                    If you have any questions, please contact your Account Manager. You can find your Account Manager’s contact details on the
                    <a [routerLink]="['/Home']">Home page</a>.
                </p>
            </div>
        </div>

        <div class="section-medium-thin section-clearfix">
            <div class="thin-section" [class.section-light-pink]="!inProgressTests?.length==0">
                <div class="container-medium-width">
                    <h4 class="section-heading-purple normal">Tests In Progress</h4>
                    <table *ngIf="!inProgressTests?.length==0" class="table-fixed tablesaw tablesaw-stack table-transparent tablesaw-last-row-no-border margin-bottom-none"
                    data-tablesaw-mode="stack">
                        <thead class="smaller">
                            <tr>
                                <th class="date-time-col" scope="col">Date and Time</th>
                                <th class="testing-session-col" scope="col">Testing Session</th>
                                <th scope="col">Faculty Name</th>
                                <th scope="col">Scheduled by</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="tablesaw-stacked-hidden-border" *ngFor="let inProgressTest of inProgressTests">
                                <td>
                                    <template [ngIf]="!inProgressTest?.nextDay">
                                        {{inProgressTest?.TestingWindowStart|parseDate:'ddd'}} {{inProgressTest?.TestingWindowStart|parseDate:'MM/DD/YY'}} 
                                         <br>{{inProgressTest?.TestingWindowStart|parseDate:'h:mma'}}
                                        &ndash; {{inProgressTest?.TestingWindowEnd|parseDate:'h:mma'}}
                                    </template>
                                    <template [ngIf]="inProgressTest?.nextDay">
                                        {{inProgressTest?.TestingWindowStart|parseDate:'ddd'}} {{inProgressTest?.TestingWindowStart|parseDate:'MM/DD/YY'}} 
                                         <br>{{inProgressTest?.TestingWindowStart|parseDate:'h:mma'}}
                                        &ndash; {{inProgressTest?.TestingWindowEnd|parseDate:'h:mma'}} {{inProgressTest?.TestingWindowEnd|parseDate:'ddd'}}
                                        {{inProgressTest?.TestingWindowEnd|parseDate:'MM/DD/YY'}}
                                    </template>
                                </td>
                                <td class="tablesaw-stacked-hidden">
                                    <button [attr.type]="'inprogress'" [attr.sessionId]="inProgressTest?.TestingSessionId" [disabled]="adminId!=inProgressTest?.AdminId && adminId!=inProgressTest?.FacultyMemberId"
                                    class="js-rename-session unstyled-button">{{inProgressTest?.SessionName}}<img *ngIf="adminId==inProgressTest?.AdminId || adminId==inProgressTest?.FacultyMemberId"
                                        src="/images/edit-pencil-icon_2x.png" alt="edit">
                                    </button>
                                </td>
                                <td class="tablesaw-stacked-hidden">{{inProgressTest?.FacultyFirstName}} {{inProgressTest?.FacultyLastName}}</td>
                                <td class="tablesaw-stacked-hidden">{{inProgressTest?.AdminFirstName}} {{inProgressTest?.AdminLastName}}
                                </td>
                                <td class="tablesaw-stacked-hidden">
                                <a href="javascript:void(0)" (click)="view(inProgressTest?.TestingSessionId, $event,true,'modifyinprogress')" class="smaller">View</a>
                                    <a *ngIf="adminId==inProgressTest?.AdminId && adminId==inProgressTest?.FacultyMemberId" href="javascript:void(0)" (click)="goToAddRemoveStudentPage(inProgressTest?.TestingSessionId, $event)"
                                       class="smaller">Add/Remove Students</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p *ngIf="inProgressTests?.length==0">There are no tests in progress at this time.</p>
                </div>
            </div>
        </div>

        <div class="section-medium-thin">
            <div class="container-medium-width">
                <h4 class="section-heading-teal normal">Scheduled Tests</h4>
                <table *ngIf="!scheduleTests?.length==0" class="table-fixed tablesaw tablesaw-stack tablesaw-sortable" data-tablesaw-mode="stack"
                id="tblScheduledTests">
                    <thead class="smaller">
                        <tr>
                            <th (click)="sort('#tblScheduledTests','#schDateTH')" order="1" id="schDateTH" class="date-time-col tablesaw-sortable-head tablesaw-sortable-ascending"
                            scope="col">
                                <button class="tablesaw-sortable-btn">
                                    Date and Time
                                </button>
                            </th>
                            <th (click)="sort('#tblScheduledTests','#schSessionTH')" order="1" id="schSessionTH" class="testing-session-col tablesaw-sortable-head tablesaw-sortable-ascending"
                            scope="col">
                                <button class="tablesaw-sortable-btn">
                                    Testing Session
                                </button>
                            </th>
                            <th (click)="sort('#tblScheduledTests','#schFacultyTH')" class="tablesaw-sortable-head tablesaw-sortable-ascending" order="1"
                            id="schFacultyTH" scope="col">
                                <button class="tablesaw-sortable-btn">
                                    Faculty Name
                                </button>
                            </th>
                            <th (click)="sort('#tblScheduledTests','#schAdminTH')" class="tablesaw-sortable-head tablesaw-sortable-ascending" order="1"
                            id="schAdminTH" scope="col">
                                <button class="tablesaw-sortable-btn">
                                    Scheduled by
                                </button>
                            </th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="tablesaw-stacked-hidden-border" *ngFor="let scheduleTest of scheduleTests">
                            <td [attr.starttime]="scheduleTest?.TestingWindowStart" class="column-striped">
                                <template [ngIf]="!scheduleTest?.nextDay">
                                    {{scheduleTest?.TestingWindowStart|parseDate:'ddd'}} {{scheduleTest?.TestingWindowStart|parseDate:'MM/DD/YY'}}
                                    <br> {{scheduleTest?.TestingWindowStart|parseDate:'h:mma'}} &ndash; {{scheduleTest?.TestingWindowEnd|parseDate:'h:mma'}}
                                </template>
                                <template [ngIf]="scheduleTest?.nextDay">
                                    {{scheduleTest?.TestingWindowStart|parseDate:'ddd'}} {{scheduleTest?.TestingWindowStart|parseDate:'MM/DD/YY'}}
                                    <br> {{scheduleTest?.TestingWindowStart|parseDate:'h:mma'}} &ndash; {{scheduleTest?.TestingWindowEnd|parseDate:'h:mma'}}
                                    <br> {{scheduleTest?.TestingWindowEnd|parseDate:'ddd'}} {{scheduleTest?.TestingWindowEnd|parseDate:'MM/DD/YY'}}
                                </template>
                            </td>
                            <td class="tablesaw-stacked-hidden">
                                <button [attr.type]="'scheduled'" [attr.sessionId]="scheduleTest?.TestingSessionId" [disabled]="adminId!=scheduleTest?.AdminId && adminId!=scheduleTest?.FacultyMemberId"
                                class="js-rename-session unstyled-button">{{scheduleTest.SessionName}}<img *ngIf="adminId==scheduleTest?.AdminId || adminId==scheduleTest?.FacultyMemberId"
                                    src="/images/edit-pencil-icon_2x.png" alt="edit">
                                </button>
                            </td>
                            <td class="tablesaw-stacked-hidden">{{scheduleTest.FacultyFirstName}} {{scheduleTest.FacultyLastName}}</td>
                            <td class="tablesaw-stacked-hidden">{{scheduleTest.AdminFirstName}} {{scheduleTest.AdminLastName}}</td>
                            <td class="tablesaw-stacked-hidden">
                                <a *ngIf="adminId!=scheduleTest?.AdminId && adminId!=scheduleTest?.FacultyMemberId" href="javascript:void(0)" (click)="view(scheduleTest?.TestingSessionId, $event,false)"
                                class="smaller">View</a>
                                <a *ngIf="adminId==scheduleTest?.AdminId || adminId==scheduleTest?.FacultyMemberId" href="javascript:void(0)" (click)="view(scheduleTest?.TestingSessionId, $event,true,'modify')"
                                class="smaller">View/Modify</a>
                                <button *ngIf="adminId==scheduleTest?.AdminId || adminId==scheduleTest?.FacultyMemberId" class="anchor-button smaller" (click)="showConfirmation(scheduleTest?.TestingSessionId)">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p *ngIf="scheduleTests?.length==0">There are no tests scheduled at this time.</p>
            </div>
        </div>


        <div class="section-medium-thin">
            <div class="container-medium-width">
                <h4 class="section-heading-teal normal">Completed Tests</h4>
                <table *ngIf="!completedTests?.length==0" class="table-fixed tablesaw tablesaw-stack tablesaw-sortable" data-tablesaw-mode="stack"
                id="tblCompletedTests">
                    <thead class="smaller">
                        <tr>
                            <th (click)="sort('#tblCompletedTests','#cmpDateTH')" order="1" id="cmpDateTH" class="date-time-col tablesaw-sortable-head tablesaw-sortable-ascending"
                            scope="col">
                                <button class="tablesaw-sortable-btn">
                                    Date and Time
                                </button>
                            </th>
                            <th (click)="sort('#tblCompletedTests','#cmpSessionTH')" order="1" id="cmpSessionTH" class="testing-session-col tablesaw-sortable-head tablesaw-sortable-ascending"
                            scope="col">
                                <button class="tablesaw-sortable-btn">
                                    Testing Session
                                </button>
                            </th>
                            <th (click)="sort('#tblCompletedTests','#cmpFacultyTH')" order="1" id="cmpFacultyTH" scope="col" class="tablesaw-sortable-head tablesaw-sortable-ascending">

                                <button class="tablesaw-sortable-btn">
                                    Faculty Name
                                </button>
                            </th>
                            <th (click)="sort('#tblCompletedTests','#cmpAdminTH')" order="1" id="cmpAdminTH" scope="col" class="tablesaw-sortable-head tablesaw-sortable-ascending">
                                <button class="tablesaw-sortable-btn">
                                    Scheduled by
                                </button>
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="tablesaw-stacked-hidden-border" *ngFor="let completedTest of completedTests">
                            <td [attr.starttime]="completedTest?.TestingWindowStart" class="column-striped">
                                <template [ngIf]="!completedTest?.nextDay">
                                    {{completedTest?.TestingWindowStart|parseDate:'ddd'}} {{completedTest?.TestingWindowStart|parseDate:'MM/DD/YY'}}
                                    <br> {{completedTest?.TestingWindowStart|parseDate:'h:mma'}} &ndash; {{completedTest?.TestingWindowEnd|parseDate:'h:mma'}}
                                </template>
                                <template [ngIf]="completedTest?.nextDay">
                                    {{completedTest?.TestingWindowStart|parseDate:'ddd'}} {{completedTest?.TestingWindowStart|parseDate:'MM/DD/YY'}}
                                    <br> {{completedTest?.TestingWindowStart|parseDate:'h:mma'}} &ndash; {{completedTest?.TestingWindowEnd|parseDate:'h:mma'}}
                                    <br> {{completedTest?.TestingWindowEnd|parseDate:'ddd'}} {{completedTest?.TestingWindowEnd|parseDate:'MM/DD/YY'}}
                                </template>
                            </td>
                            <td class="tablesaw-stacked-hidden">{{completedTest.SessionName}}</td>
                            <td class="tablesaw-stacked-hidden">{{completedTest.FacultyFirstName}} {{completedTest.FacultyLastName}}</td>
                            <td class="tablesaw-stacked-hidden">{{completedTest.AdminFirstName}} {{completedTest.AdminLastName}}</td>
                            <td class="tablesaw-stacked-hidden"><a href="javscript:void(0)" class="smaller" (click)="view(completedTest.TestingSessionId, $event,false)">View</a>
                                <!--<a  href="#" class="smaller">Reports</a>-->
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p *ngIf="completedTests?.length==0">There have been no completed tests over the last three months.</p>
            </div>
        </div>
    </div>
</main>
<page-footer></page-footer>

<confirmation-popup [popupId]="'confirmationPopup'" [message]="'Are you sure you want to delete this testing session? This cannot be undone.'"
[okButtonText]="'Yes, delete'" [cancelButtonText]="'Cancel'" (onOK)="onOKConfirmation()" (onCancel)="onCancelConfirmation()"
[hideClose]="false">
</confirmation-popup>