<page-header></page-header>
<main role="main" class="app-main">
    <test-header (cancelChanges)="onCancelChanges()" (continueMakingChanges)="onContinueMakingChanges()" scheduleStep='Add details and review' [testSchedule]="testScheduleModel"></test-header>

    <div class="section">
        <div class="container-medium-width">
            <h4>You’re almost done!</h4>
            <form class="clearfix name-testing-session">
                <div class="one-half-grid">
                    <label class="label-bold label-larger" for="txtSessionName">Name your testing session</label>
                    <input type="text" id="txtSessionName" [value]="testScheduleModel?.scheduleName" maxlength="75" #testsessionname (input)="onInput(testsessionname.value,ddlfaculty.value);">
                </div>
                <div class="one-half-grid lightbulb-icon-container">
                    <p class="icon lightbulb-icon">Your testing session contains all the details related to the test you are scheduling. Name it for easy
                        reference later.</p>
                </div>
                <div class="one-half-grid">
                    <label class="label-bold label-larger" for="ddlFaculty">Assign faculty member</label>
                    <select id="ddlFaculty" #ddlfaculty class="selectpicker" (change)="facultyChange(ddlfaculty.value,$event);" data-size="6">
                        <option *ngFor="#admin of faculty" [value]="admin.AdminId" [selected]="admin.AdminId == testScheduleModel.facultyMemberId">{{admin.LastName}}, {{admin.FirstName}}</option>
                    </select>

                </div>
                <div class="one-half-grid lightbulb-icon-container">
                    <p class="icon lightbulb-icon">Both you and the faculty member you assign will be able to make changes to this testing session later
                        if needed.</p>
                </div>
            </form>
        </div>
    </div>




    <div class="container-medium-width">
        <h4>Review your testing session details</h4>

        <div class="margin-2em-bottom">
            <table class="review-details-table table-with-cell-padding justified-ends">
                <tr>
                    <th scope="row">Test</th>
                    <td>{{testScheduleModel.testName}}</td>
                    <td><a [routerLink]="modify ? ['/ModifyChooseTest' , {action:'modify',institutionId : testScheduleModel.institutionId}] : ['/ChooseTest' , {institutionId : testScheduleModel.institutionId}]" (click)="ChangeTest($event);">Change</a></td>
                </tr>
                <tr>
                    <th scope="row">Date and Time</th>
                    <td>
                        <!--{{testScheduleModel?.scheduleStartTime|parseDate:'ddd'}} {{testScheduleModel?.scheduleStartTime|parseDate:'MM/DD/YY'}} from
                        {{testScheduleModel?.scheduleStartTime|parseDate:'h:mma'}} &ndash; {{testScheduleModel?.scheduleEndTime|parseDate:'h:mma'}}
                        {{testScheduleModel?.scheduleEndTime|parseDate:'ddd'}} {{testScheduleModel?.scheduleEndTime|parseDate:'MM/DD/YY'}}-->
                        <template [ngIf]="!nextDay">
                            {{testScheduleModel?.scheduleStartTime|parseDate:'ddd'}} {{testScheduleModel?.scheduleStartTime|parseDate:'MM/DD/YY'}} from
                            {{testScheduleModel?.scheduleStartTime|parseDate:'h:mma'}} &ndash; {{testScheduleModel?.scheduleEndTime|parseDate:'h:mma'}}
                        </template>
                        <template [ngIf]="nextDay">
                            {{testScheduleModel?.scheduleStartTime|parseDate:'ddd'}} {{testScheduleModel?.scheduleStartTime|parseDate:'MM/DD/YY'}} from
                            {{testScheduleModel?.scheduleStartTime|parseDate:'h:mma'}} &ndash; {{testScheduleModel?.scheduleEndTime|parseDate:'h:mma'}}
                            {{testScheduleModel?.scheduleEndTime|parseDate:'ddd'}} {{testScheduleModel?.scheduleEndTime|parseDate:'MM/DD/YY'}}
                        </template>

                    </td>
                    <td><a [routerLink]="modify ? ['/ModifyScheduleTest',{action:'modify'}] : ['/ScheduleTest']">Change</a>

                    </td>
                </tr>
                <!--<tr>
                    <th scope="row">Time</th>
                    <td>{{testScheduleTimes}} ({{testScheduleWindow}})</td>
                    <td><a [routerLink]="['/ScheduleTest']">Change</a></td>
                </tr>-->
                </tbody>
            </table>
        </div>
        <h4 class="teal" id="studentsInTestingSessionConfirmation">Students in Testing Session ({{unmarkedStudentsCount()}})</h4>
        <a [routerLink]="modify ? ['/ModifyAddStudents',{action:'modify'}] : ['/AddStudents']">Change</a>
        <button class="right anchor-button" *ngIf="(retesterExceptions?.length>0 && hasAlternateTests) || (retesterExceptions?.length>0 && hasSavedRetesterExceptions) || (modify && retesterExceptionsModify?.length>0)" (click)="changeAlternateAssignments($event)">Change alternate test assignments</button>

        <table id="studentsInTestingSessionTable" class="dataTable-bordered table-with-cell-padding table-striped last-row-no-border">
            <thead>
                <tr>
                    <th scope="col">Last Name</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Cohort</th>
                    <th scope="col">Test</th>
                    <th scope="col">Norming Status</th>
                </tr>
            </thead>
            <tbody>
                <!--<template ngFor #student [ngForOf]="testScheduleModel.selectedStudents">
                    <tr *ngIf="resolveMarked(student)">
                        <tr>
                </template>-->
                <tr *ngFor="#student of testScheduleModel.selectedStudents;  #_student=student" [hidden]="resolveMarked(student)">
                    <td>{{student.LastName}}</td>
                    <td>{{student.FirstName}}</td>
                    <td>{{student.CohortName}}</td>
                    <td>{{student.StudentTestName}}</td>
                    <td>{{student.NormingStatus ? student.NormingStatus : testScheduleModel.testNormingStatus}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="container-medium-width section-thin">
        <div class="info-icon-yellow-container-flush-text clearfix">
            <p class="icon info-icon-yellow" *ngIf="hasADA">One or more of the students you have added have testing accommodations. Their test will be untimed.</p>
            <!--<a href="confirmation.html" id="chooseDate" class="button right margin-2em-top button-mobile-block" aria-disabled="true" disabled>Confirm info and schedule test</a>-->
            <button type="submit" (click)="scheduleTest($event);" id="btnScheduleTest" class="button right margin-2em-top button-mobile-block"
            [disabled]="!valid">
                Confirm info and schedule test
            </button>
        </div>
        <div class="delete-draft section-medium-thin clearfix invisible">
            <hr>
            <button class="anchor-button smaller">Delete this draft</button>
            <p class="saved-draft-info smaller teal">Saving draft…</p>
        </div>
    </div>

</main>

<page-footer></page-footer>
<confirmation-popup [popupId]="'confirmationPopup'" [message]="'Are you sure you want to leave this page? <br>Your work will be lost and you’ll have to start over.'"
[okButtonText]="'Yes, leave this page'" [cancelButtonText]="'No, stay on this page'" (onOK)="onOKConfirmation()" (onCancel)="onCancelConfirmation()"
[hideClose]="true">
</confirmation-popup>
<loader [loaderMessage]="'Scheduling your testing session…'" [greetingMessage]="'Thank you for your patience!'"></loader>

<alert-popup 
    [popupId]="'alertPopup'"
    [message]="'We’re sorry! You can no longer make changes to this testing session because it has already started or has passed. Click “OK” to go back to the Manage Tests main page.'" 
    [okButtonText] = "'OK'"     
    (onOK)="onOKAlert()"    
    [hideClose]="false">
</alert-popup>