<page-header></page-header>
<main role="main" class="app-main">

    <test-header (cancelChanges)="onCancelChanges()" (continueMakingChanges)="onContinueMakingChanges()" scheduleStep='Choose date and time' [testSchedule]="testScheduleModel"></test-header>

    <div class="section-thin container-medium-width">
        <form class="margin-2em-top clearfix" id="scheduleTest">
            <div class="date-time-container clearfix">
                <label class="label-inline screen-reader-only" for="startDate">Start Date (MM/DD/YYYY)</label>
                <input #startdate type="text" autocomplete="off" class="date start required-entry" placeholder="Date" id="startDate" (keyup)="onKeyUpDate(startdate,$event);"
                />
                <label class="label-inline screen-reader-only" for="startTime">Start Time</label>
                <input type="text" class="time start required-entry" autocomplete="off" placeholder="Time" id="startTime" #starttime (keyup)="onKeyUpTime(starttime,$event);"
                />
                <span class="date-pair-span">to</span>
                <label class="label-inline screen-reader-only" for="endTime">End Time</label>
                <input type="text" class="time end required-entry" placeholder="Time" autocomplete="off" id="endTime" #endtime (keyup)="onKeyUpTime(endtime,$event);"
                />
                <label class="label-inline screen-reader-only" for="endDate">End Date (MM/DD/YYYY)</label>
                <input #enddate type="text" class="date end required-entry" placeholder="Date" autocomplete="off" id="endDate" (keyup)="onKeyUpDate(enddate,$event);"
                />
            </div>
            <p *ngIf="invalid8hours" class="error" role="alert" aria-live="assertive" aria-atomic="true">
                For security reasons, your testing window cannot be longer than 8 hours.
                <br> Please specify a shorter testing window.
            </p>

            <div class="margin-2em-top form-narrow lightbulb-icon-container-flush-text">
                <p class="icon lightbulb-icon">
                    The dates and times you specify make up your ​<strong>testing window</strong>. This is the amount of
                    time the test is open for a student to begin taking the test. This is not the same as the ​<strong>test duration</strong>​,
                    which is based on the amount of questions on the test.
                </p>
                <p>Choosing shorter testing windows will help maintain better security.</p>
            </div>
            <button type="button" class="button margin-2em-top button-mobile-block right" (click)="saveDateTime($event);" [disabled]="!valid">Next step: Add students</button>
        </form>
        <div class="delete-draft section-medium-thin clearfix invisible">
            <hr>
            <button class="anchor-button smaller">Delete this draft</button>
            <p class="saved-draft-info smaller teal">Saving draft…</p>
        </div>
    </div>
    <!--closes div containing form-->
</main>
<page-footer></page-footer>
<confirmation-popup 
[popupId]="'confirmationPopup'"
    [message]="'Are you sure you want to leave this page? <br>Your work will be lost and you’ll have to start over.'" 
    [okButtonText] = "'Yes, leave this page'" 
    [cancelButtonText] = "'No, stay on this page'" 
    (onOK)="onOKConfirmation()" 
    (onCancel)="onCancelConfirmation()"
    [hideClose]="true" >
</confirmation-popup>

<alert-popup 
    [popupId]="'alertPopup'"
    [message]="'We’re sorry! You can no longer make changes to this testing session because it has already started or has passed. Click “OK” to go back to the Manage Tests main page.'" 
    [okButtonText] = "'OK'"     
    (onOK)="onOKAlert()"    
    [hideClose]="false">
</alert-popup>