<div class="modal modal-full-overlay fade" id="studentsStartedTest" tabindex="-1" role="dialog" aria-labelledby="studentsStartedTestWarning">
    <div role="document">
        <button aria-label="Close" class="close close-large-icon" data-dismiss="modal" type="button"></button>
        <div class="modal-full-overlay-content">
            <div class="modal-header">
                <p class="icon clock-alert-icon center"></p>
                <h4 class="attention center" id="noAlternativeTestModal">Students Have Started Tests In This Testing Session </h4>
            </div>
            <div class="modal-body">
               
                <div class="thin-section">
                    <p class="text-larger-teal">
                         <b>The following students have already started tests in this testing session:</b> 
                    </p>
                    <table class="table-no-row-borders">
                        <tbody class="text-larger-purple border-top">                           
                            <tr *ngFor="let student of students">
                                <td><b>{{student.StudentFirstName}}, {{student.StudentFirstName}}</b></td>
                                <td>{{student.StudentTestName}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>


            </div>
            <!--end modal body Student Pay-->
            <div class="modal-footer thin-section">
                <button type="button" id="studentsStartedTestButton" class="button" (click)="OK($event);">OK</button>
            </div>
        </div>
    </div>
</div>