<div class="section section-bottom-thin">
    <div class="container-medium-width">
        <h2 class="page-sm-heading-teal">Manage Tests</h2>
        <h3 class="page-lg-heading">Schedule a Test</h3>
    </div>
</div>
<div *ngIf="testSchedule.currentStep>1" class="section-thin test-summary-heading">
    <div class="container-medium-width">
        <div *ngIf="testSchedule.currentStep>1" class="test-summary-heading-details"><span>Test: <b>{{testSchedule.testName}}</b></span>
            <a href="#" [routerLink]="['/ChooseTest' , {institutionId : testSchedule.institutionId}]" class="link-darker">Change test</a></div>
        <div *ngIf="testSchedule.currentStep>2" class="test-summary-heading-details"><span>Date and Time: <b>{{testSchedule.scheduleStartTime|parseDate|date:'EEE'}} {{testSchedule.scheduleStartTime|parseDate|date:'MM/dd/yy'}} from {{testSchedule.scheduleStartTime|parseDate|date:'hh:mm a'}} - {{testSchedule.scheduleEndTime|parseDate|date:'hh:mm a'}}</b></span><a [routerLink]="['/ScheduleTest']"  class="link-darker">Change date or time</a></div>
    </div>
</div>
<div class="section-thin section-gray">
    <div class="container-medium-width manage-test-breadcrumb">
        <div class="grid">
            <div [class.completed-step]="(testSchedule.currentStep>1)" [class.success-icon]="(testSchedule.currentStep>1)" [class.active]="testSchedule.activeStep ===1"
            class="breadcrumb-number">1</div>
            <span>Choose a test</span>
        </div>
        <div class="grid">
            <div [class.completed-step]="(testSchedule.currentStep>2)" [class.success-icon]="(testSchedule.currentStep>2)" [class.active]="testSchedule.activeStep ===2"
            class="breadcrumb-number">2</div>
            <span>Choose date and time</span>
        </div>
        <div class="grid">
            <div [class.completed-step]="(testSchedule.currentStep>3)" [class.success-icon]="(testSchedule.currentStep>3)" [class.active]="testSchedule.activeStep ===3"
            class="breadcrumb-number">3</div>
            <span>Add students</span>
        </div>
        <div class="grid">
            <div [class.completed-step]="(testSchedule.currentStep>4)" [class.success-icon]="(testSchedule.currentStep>4)" [class.active]="testSchedule.activeStep ===4"
            class="breadcrumb-number">4</div>
            <span>Add details and review</span>
        </div>
        <div [class.active]="testSchedule.currentStep ===5" class="grid">
            <div class="breadcrumb-number">5</div>
            <span>Confirmation</span>
        </div>
    </div>
    <div class="mobile-breadcrumb-name hidden-small-phone-up">{{scheduleStep}}</div>
</div>