<div class="modal modal-full-overlay modal-full-overlay-transparent fade" id="loader" tabindex="-1" role="dialog"
aria-labelledby="loaderModal">
    <div role="document">
        <div class="modal-full-overlay-content">
            <div class="modal-body saving-testing-session-message center">
                <h2 class="center" id="loaderModal">{{loaderMessage}}</h2>
                <i class="icon loading-icon center"></i>
                <h2 class="center">{{greetingMessage}}</h2>
            </div>
            <!--end modal body-->
        </div>
    </div>
</div>