<section class="need-help">
    <div>
      <h2>Need Urgent Help? Your Kaplan Faculty Hotline team is also standing by.</h2>
      <p>
        Our Faculty Hotline representatives are available for urgent assistance. Call 1-866-920-6311. If You’re outside the U.S. or Canada, dial +1-407-423-6620.
      </p>
      <p>
        We’re available from 8:00am to 8:00pm Monday through Friday and from 9:00am to 5:45pm on Saturdays. <strong>All times are Eastern.</strong> We’re closed on Sundays.
      </p>
      <p>
        <a [routerLink]="['/help']">Get Help for your students</a>
      </p>
      <p>
      <a [routerLink]="['/help']">Want the best viewing experience?</a>
      </p>
    </div>
  </section>