<section class="need-help">
    <div>
      <h2>Need Urgent Help? Your Kaplan Faculty Hotline team is also standing by.</h2>
      <p>
        Our Faculty Hotline representatives are available for urgent assistance. Call 1-866-920-6311. If You’re outside the U.S. or Canada, dial +1-407-423-6620.
      </p>
      <p>
        Our Faculty Hotline Hours of Operation have temporarily changed and are listed below (all times are Eastern):

<p>
  By Phone<br/>
  Mon-Fri 8:00 AM - 5:45 PM Eastern Time
</p>
<p>By Chat<br/>
  Mon-Thurs 8:00 AM - 9:00 PM Eastern Time<br/>
  Fri 8:00 AM - 5:45 PM Eastern Time<br/>
  Sat 9:00 AM - 5:45 PM Eastern Time<br/>
</p>
      </p>
      <p>
        <a [routerLink]="['/help']">Get Help for your students</a>
      </p>
      <p>
      <a [routerLink]="['/help']">Want the best viewing experience?</a>
      </p>
    </div>
  </section>