.sub-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  color: #fff;

  &.disable-subheader {
    background-color: rgba(200, 200, 200, 0.7);
  }
  &.enable-subheader {
    background-color: #7825ff;
  }
}
