<section>
    <div class="section-medium-thin section-top section-light-teal covid-yellow">
      <div class="container">
        <h2>COVID-19 Updates</h2>
        <p class="covid-font">
          Our team is standing by to provide whatever assistance we can during
          this outbreak. Please
          <a
            target="_blank"
            href="https://www.kaptest.com/nursing-educators/covid-19-nursing-partner-updates"
          >
            <strong>click here</strong>
          </a>
          for important, up-to-date information on our plans to support you.
        </p>
        <span  class="covid-font">
          Click below for updated indexes:
          <span><ul>
            <li style="padding-left: 20px;"><a href="https://nursing-assets-web-ktp.s3.amazonaws.com/admin/orientation/RN_CRG.pdf" target="_blank"> RN Content Review Guide </a></li>

            <li style="padding-left: 20px;"><a href="https://nursing-assets-web-ktp.s3.amazonaws.com/admin/orientation/PN_CRG.pdf" target="_blank"> PN Content Review Guide </a></li>

            <li style="padding-left: 20px;"><a href="https://nursing-assets-web-ktp.s3.amazonaws.com/admin/orientation/Basic_CRG.pdf" target="_blank"> Basics Book </a></li>
          </ul></span>
        </span>
        <p class="covid-font">
          <a href="https://nursing-assets-web-ktp.s3.amazonaws.com/admin/orientation/welcome_nit_faculty.mp4" target="_blank"><strong>Click here </strong></a>
          <span>for a video orientation to your faculty resources</span>
        </p>
      </div>
      <!-- <div class="container video-grid">
                <div class="video-grid-item">
                    <h2>Welcome to your Kaplan Nursing experience!</h2>
                    <p class="text-larger">We’re proud to partner with you to build a product that empowers you and your students every day. Watch
                        this short video for a quick tour of what’s here, what’s coming, and how you’ll benefit.</p>
                </div>
                <div class="video video-grid-item">
                    <div class="video-wrapper">
                        <video src="https://nursing-assets-web-ktp.s3.amazonaws.com/admin/orientation/welcome_nit_faculty.mp4" type="video/mp4" controls
                        poster="assets/images/video-poster-frame.png" angulartics2On="click" angularticsEvent="OrientationVideoClick" angularticsCategory="VideoEngagement">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
            </div> -->
    </div>
  </section>