<h3>Performance Snapshot</h3>
<div class="performance-snapshot border-bottom">
	<img class="img-left" src="/images/threshold-chart.png" alt="threshold pie chart">
	<p class="lead-teal">8 out of 29 students (27.6%) scored below 68%</p>
	<a href="#">View all students below threshold</a>
</div>
<div class="performance-snapshot">
	<img class="img-left" src="/images/remediation-chart.png" alt="remediation pie chart">
	<p class="lead-teal">13 out of 29 students (44.8%) have not remediated</p>
	<a href="#">View all students who have  not remediated</a>
</div>