<page-header></page-header>

<main role="main" class="app-main">
    <section>
        <div class="section-medium-thin section-top section-lt-teal">
            <div class="container video-grid">
                <div class="video-grid-item">
                    <h2>Welcome to your new Kaplan Nursing experience!</h2>
                    <p class="text-larger">We’re proud to partner with you to build a product that empowers you and your students every day. Watch
                        this short video for a quick tour of what’s here, what’s coming, and how you’ll benefit.</p>
                </div>
                <div class="video video-grid-item">
                    <div class="video-wrapper">
                        <video src="https://nursing-assets-web-ktp.s3.amazonaws.com/admin/orientation/welcome_nit_faculty.mp4" type="video/mp4" controls
                        poster="images/video-poster-frame.png">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="section section-teal section-thin">
        <nav class="navigation container" role="navigation" aria-label="secondary">
            <ul class="nav-items">
                <li class="nav-icon schedule-icon"><a href="#" (click)="redirectToRoute('choose-test');">Schedule an Integrated Test</a></li>
                <li class="nav-icon email-icon-outline"><a [routerLink]="['/AccountScroll',{scroll:'send-student-info'}]">Send student sign in info</a></li>
                <li class="nav-icon info-icon-white"><a [routerLink]="['/UserGuide']">View user guide</a></li>
            </ul>
        </nav>
    </div>

    <div class="section section-white">
        <div class="container faculty-links">
            <div class="tools-link-grid">
                <div class="reporting-tools-grid">
                    <h2>Reporting Tools</h2>
                    <div class="faculty-links">
                        <div class="faculty-link-list">
                            <h3 class="h4 text-smaller-margin"><a class="mobile-button" #linkReportStudentCard (click)="prepareRedirectToReports('StudentReportCard',myform,hdtoken,hdpage);" href="javascript:void(0)">Student Report Card</a></h3>
                            <span>Review your students’ performance at a glance</span>
                        </div>
                        <div class="faculty-link-list">
                            <h3 class="h4 text-smaller-margin"><a class="mobile-button" #linkReportCohortByQuestion (click)="prepareRedirectToReports('ReportCohortByQuestion',myform,hdtoken,hdpage);" href="javascript:void(0)">Test Result by Question</a></h3>
                            <span>Review performance by topic and difficulty level</span>
                        </div>
                        <div class="faculty-link-list">
                            <h3 class="h4 text-smaller-margin"><a class="mobile-button" #linkReportCohortByTest (click)="prepareRedirectToReports('ReportCohortByTest',myform,hdtoken,hdpage);"  href="javascript:void(0)">Cohort by Test</a></h3>
                            <span>Review an entire cohort’s performance</span>
                        </div>
                        <div class="faculty-link-list">
                            <h3 class="h4 text-smaller-margin"><a class="mobile-button" #linkUtilizationReport (click)="prepareRedirectToReports('UtilizationReport',myform,hdtoken,hdpage);"  href="javascript:void(0)">Utilization Report</a></h3>
                            <span>Review how your students are using their resources</span>
                        </div>
                        <div class="faculty-link-list">
                            <h3 class="h4 text-smaller-margin"><a class="mobile-button" #linkCohortComparision (click)="prepareRedirectToReports('CohortComparisonsReport',myform,hdtoken,hdpage);" href="javascript:void(0)">Category Comparisons</a></h3>
                            <span>Compare cohort performance in over 80 categories</span>
                        </div>

                    </div>
                </div>
                <div class="teaching-tools-grid">
                    <h2>Teaching Tools (Student Site)</h2>
                    <div class="faculty-links">
                        <div class="faculty-link-list">
                            <h3 class="h4 text-smaller-margin"><a class="mobile-button" (click)="prepareRedirectToStudentSite('TestReview',myform,hdinstitution,hdtoken,hdpage);" href="javascript:void(0)">Focused Review Tests</a></h3>
                            <p>For content mastery</p>
                            <ul class="bullet">
                                <li>Access standard tests or help students create their own</li>
                                <li>Utilize extensive remediation resources</li>
                            </ul>
                        </div>
                        <div class="faculty-link-list">
                            <h3 class="h4 text-smaller-margin" *ngIf="(institutionRN>0)"><a class="mobile-button" (click)="prepareRedirectToStudentSite('CaseStudies',myform,hdinstitution,hdtoken,hdpage);" href="javascript:void(0)">Client Simulations<span class="smaller-small-text"> (Mid-Fidelity)</span></a></h3>
                            <h3 class="h4 text-smaller-margin"><a class="mobile-button" (click)="prepareRedirectToStudentSite('SkillsModules',myform,hdinstitution,hdtoken,hdpage);" href="javascript:void(0)">Skills Demonstration Videos</a></h3>
                            <p>For practical learning simulation</p>
                        </div>
                        <div class="faculty-link-list">
                            <h3 class="h4 text-smaller-margin"><a class="mobile-button" (click)="prepareRedirectToStudentSite('Nclex',myform,hdinstitution,hdtoken,hdpage);" href="javascript:void(0)">NCLEX Resources</a></h3>
                            <p>For standardized test mastery</p>
                            <ul class="bullet">
                                <li>Access diagnostic tests and Question Trainers</li>
                                <li>Access content, test-taking and Decision Tree videos</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Kaplan Account Manager/Nurse Consultant profiles-->
    <div class="kaplan-consultant-profiles-section">
        <div class="section-purple"></div>
        <div class="section-light-gray">
            <div class="bottom-grid">
                <!--Account Manager and Nurse consultant profiles -->
                <profile [profile]="accountManagerProfile"></profile>
                <profile [profile]="nurseConsultantProfile"></profile>
                <!--<profile *ng-for="#profile of profiles" [profile]="profile"></profile>-->
            </div>
            <!--closes-grid-->
        </div>
        <!--closes section lt-gray-->
    </div>

    <!--Modal-->
    <div class="modal hidden">
        <input class="modal-state" id="modal-1" type="checkbox" />
        <div class="modal-fade-screen">
            <div class="modal-inner">
                <div class="modal-top">
                    <div class="modal-close" aria-label="Close"></div>
                </div>
                <div class="modal-content">
                    <h2 class="h4">Attend an upcoming Kaplan Orientation Webinar</h2>
                    <p>
                        Learn everything you need to know about the Kaplan resources available to you and your students! Our helpful online senimars,
                        delivered by a Kaplan Nurse Consultant, are conveniently held throughout April, May and June.
                    </p>
                    <div class="modal-double-buttons">
                        <button class="modal-close-button">See dates and sign up</button>
                        <button class="modal-close-button">I'll sign up later</button>
                        <div class="right">
                            <input type="checkbox">
                            <label class="inline small-label">Don't show me this again</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<page-footer></page-footer>

<form #myform  method="POST" target="_blank">
    <input #hdinstitution type="hidden" id="institutionID" name="institutionID">
    <input #hdtoken type="hidden" id="jwtToken" name="jwtToken">
    <input #hdpage type="hidden" id="redirectPage" name="redirectPage">
</form>