<page-header></page-header>

      <main role="main" class="app-main">
        <div class="kaplan-consultant-profiles-section">
          <div class="section-light-gray individual-profile">
            <div class="kaplan-profiles container">
              <h2 class="white-text consultant-heading" id="nurse-consultant">{{profile.header}}</h2>
              <img [attr.src]='profile.photoUrl' class="profile-image-large img-round" alt="{{profile.firstName}} {{profile.lastName}} profile picture" aria-describedby="nurse-consultant">
              <p class="profile-name h2">{{profile.firstName}} {{profile.lastName}}</p>
              <p class="text-purple h3">{{profile.degrees}}</p>
              <p class="text-purple">{{profile.designation}}</p>
              <div class="contact-details margin-2em-top">
                <div *ng-if="profile.telephone"  class="contact-details-info">
                  <img src="images/telephone-icon_2x.png" class="telephone-icon" alt="telephone icon">
                  <a href="tel://{{profile.telephone}}" class="link-base-color margin-right-2em">{{profile.telephone}}</a>
                </div>
                <div *ng-if="profile.email" class="contact-details-info">
                  <img src="images/email-icon_2x.png" class="email-icon" alt="email icon">
                  <a href="mailto:{{profile.email}}" class="link-base-color">{{profile.email}}</a>
                </div>
              </div>
            </div>
          </div>

          <div class="section container-narrow">
            <p class="bullet-heading">Contact {{profile.firstName}} for:</p>
            <ul class="bullet two-columns">
              <li *ng-for="#bullet of profile.bulletsForFrontEnd">{{bullet}}</li>
            </ul>
            <p class="js-bolded section-medium-thin" [innerHTML]="profile.bio">
            </p>
            <p>Use these external forms to submit requests directly to {{profile.firstName}}:</p>
              <ul class="action-links">
                <li *ng-for="#link of profile.linksForFrontEnd"><a [href]='link.LinkUrl' target="_blank" class="icon action-color-link-icon">{{link.LinkTextToDisplay}}</a></li>  
              </ul>
          </div>
        </div>

    </main>


<page-footer></page-footer>