<main class="sign-in" role="main">
    <form>
        <div class="container-narrow">
            <div #errorcontainer class="alert alert-error alert-dismissible fade in hidden" role="alert">
                <button type="button" class="close close-red" data-dismiss="alert" aria-label="Close" #close (click)="closealert(close);"></button>
                <span id="spnErrorMessage"></span>
            </div>
            <h3 class="center white-text">Sign in</h3>
            <div class="form-group">
                <label class="label-inline h5 white-text label-bold" for="username">Email address</label>
                <input id="username" #username type="text" aria-required="true">
            </div>
            <div class="form-group">
                <label class="label-inline h5 white-text label-bold" for="password">Password</label>
                <input id="password" #password type="password" aria-required="true">
            </div>
        </div>

        <div class="section-margin">
            <div class="radio-sign-in radio-sign-in-faculty">
                <div class="sign-in-faculty-grid radio-large">
                    <input type="radio" #rdfaculty name="radio_button" id="faculty_site" (change)="radioChanged(rdfaculty,rdstudent);" value="faculty_site"
                    checked aria-checked="true">
                    <label for="faculty_site" class="h3 white-text label-bold">Faculty Site</label>
                    <p class="text-larger">Schedule tests, track your students' performance, access teaching tools and more</p>
                </div>
            </div>
            <div class="radio-sign-in radio-sign-in-student">
                <div class="sign-in-student-grid radio-large">
                    <input type="radio" name="radio_button" #rdstudent id="student_site" (change)="radioChanged(rdstudent,rdfaculty);" value="student_site"
                    aria-checked="false">
                    <label for="student_site" class="h3 white-text label-bold">Student Site</label>
                    <p class="text-larger">See what your students see:<br /> take practice tests, access course books, review content</p>
                </div>
            </div>
        </div>
        <button type="submit" class="button button-x-large button-centered" #signin (click)="onSignIn(username,password,rdfaculty,rdstudent,errorcontainer,signin,$event);"
        id="faculty-signin">
            Sign in
        </button>
    </form>

    <div class="center">
        <a [routerLink]="['/ForgotPassword']" class="forgot-password white-text">Forgot your password?</a>
    </div>

    <form id="myForm"  method="POST" target="_blank">
        <input  type="hidden" id="institutionID" name="institutionID">
        <input  type="hidden" id="jwtToken" name="jwtToken">
        <input  type="hidden" id="redirectPage" name="redirectPage">
    </form>

</main>