<div class="alert alert-site-wide alert-dismissible fade in" [hidden]=true role="alert">
    <button type="button" class="close close-white" data-dismiss="alert" aria-label="Close" #message (click)="closeMessage(message);"></button>
    <div class="container-medium-width-no-pad">
        <span>
            <strong>Please note:</strong> Kaplan Nursing will be performing routine system maintenance on
            Sunday, June 21 from 12:00am to 12:00pm Eastern. Resources will be unavailable during this time.
            We appreciate your patience as we work to ensure the best experience for our customers!
        </span>
    </div>
</div>

<header class="login-header" role="banner">

    <h1 class="center">
        <img class="branding-logo" src="images/logo-purple_2x.png" alt="Kaplan Nursing">
        <span class="screen-reader-only">Kaplan Nursing Faculty Login</span>
    </h1>

    <h2 class="h1 center">Resources for Nursing Educators</h2>

</header>