<page-header></page-header>
<main role="main" class="app-main">
    <div class="section">
        <div class="container-medium-width edit-info">
            <h2 class="page-sm-heading-teal">Manage Account Details</h2>

            <div class="section-medium-thin" id="save-basic-info">
                <form class="form-medium-width" id="personal-info-form" role="form">
                    <div class="text-larger-margin">
                        <h3 class="text-larger-teal heading-inline">Personal Information</h3>
                        <span class="right teal-label">*Required field</span>
                    </div>
                    <label class="teal-label required" for="firstName">First Name</label>
                    <input type="text" id="firstName" #firstname >
                    <label class="teal-label required" for="lastName">Last Name</label>
                    <input type="text" id="lastName" #lastname >
                    <label class="teal-label" for="facultyTitle">Title</label>
                    <input type="text" id="facultyTitle" #title>
                    <p><span id="schoolName"></span></p>
                    <div class="margin-1em-top">
                        <button class="button  button-with-validation" id="btnProfileSave" type="submit" aria-disabled="true" disabled #profilesave (click)="onSubmitSaveProfile(firstname,lastname,title,profilesave,profilecancel,successcontainer,$event)">Save changes</button>
                        <input type="reset" id="profilecancel" class="reset-input" value="Cancel changes" #profilecancel (click)="onCancelSaveProfile(profilesave,$event)">
                        <p #successcontainer class="success success-icon" style="display:none" id="successmsg">Your changes have been saved.</p>
                    </div>
                </form>

                <form class="form-medium-width margin-2em-top" id="changeEmailForm" role="form">
                    <p class="teal-label">Email Address</p>
                    <p class="text-larger"><span id="emailId"></span></p>
                    <div class="hidden" id="changeEmailFormSubmittable">
                        <div>
                            <label class="teal-label" for="emailAddress">New Email Address</label>
                            <input type="email" id="emailAddress" #newemailid >
                            <p class="error" #emailerrorconainer><span id="spnEmailErrorMessage"></span></p>
                            <label class="teal-label" for="password">Password</label>
                            <input type="password" id="txtPassword" #txtpassword oncopy="return false" onpaste="return false">
                            <p class="error" #passworderrorconainer><span id="spnPasswordErrorMessage"></span></p>
                        </div>
                        <div class="margin-1em-top">
                            <button class="button  button-with-validation" type="submit" id="ChangeEmail" aria-disabled="true" disabled #changeemail (click)="onSubmitChangeEmail(newemailid,txtpassword,changeemail,resetemailsave,successemailcontainer,emailerrorconainer,passworderrorconainer,$event)">Change email address</button>
                            <input type="reset" id="resetEmailSave" #resetemailsave class="hidden reset-input" value="Cancel" (click)="onCancelChangeEmail(newemailid,txtpassword,changeemail,$event)">
                            <p #successemailcontainer class="success success-icon" style="display:none" id="successemailmsg">You have successfully changed your email address.</p>
                        </div>
                    </div>
                    <div class="margin-1em-top">
                        <button class="button  button-with-validation" type="button" id="showChangeEmail" #showchangeemail (click)="showChangeEmail(showchangeemail,$event);onCancelChangeEmail(newemailid,txtpassword,changeemail,$event)">Change email address</button>
                    </div>
                </form>

            </div>
            <hr>

            <div class="section-medium-thin">
                <h3 class="text-larger-teal text-larger-margin">Reset Password</h3>
                <form role="form">
                    <div class="form-narrow teal-label">
                        <label for="currentPassword">Current Password</label>
                        <input type="password" id="currentPassword" #currentpassword oncopy="return false" onpaste="return false" >
                        <p class="error" #currentpasswordcontainer><span id="spnCurrentPasswordErrorMessage"></span></p>
                        <label for="newPassword">New Password</label>
                        <input type="password" id="newPassword" #newpassword oncopy="return false" onpaste="return false" >
                        <label for="confirmNewPassword">Confirm New Password</label>
                        <input type="password" id="confirmNewPassword" #confirmpassword oncopy="return false" onpaste="return false" >
                        <p class="error" id="errorResetPasswordContainer" #resetpasswordcontainer><span id="spnResetPasswordErrorMessage"></span></p>
                    </div>
                    <div class="margin-1em-top">
                        <button class="button button-with-validation" id="btnResetPassword" type="submit" aria-disabled="true" disabled #resetpassword (click)="onSubmitResetPassword(currentpassword,newpassword,confirmpassword,resetpassword,resetresetpassword,currentpasswordcontainer,resetpasswordcontainer,successresetpasswordcontainer,$event)">Reset password</button>
                        <!--reset input would be replaced by success paragraph after successful submission of form-->
                        <input type="reset" #resetresetpassword id="btnResetResetPassword" class="reset-input" value="Cancel" (click)="onCancelResetPassword(currentpassword,newpassword,confirmpassword,resetpassword,$event)">
                        <p #successresetpasswordcontainer class="success success-icon" style="display:none" id="successResetPasswordContainer"></p>
                    </div>
                </form>
            </div>
            <hr>

            <div class="section-medium-thin">
                <h3 class="text-larger-teal">Request Student Password Reset</h3>
                <form role="form">
                    <p class="text-larger-margin">Enter the student email’s address below and they will receive an email to reset their password.</p>
                    <div class="form-narrow">
                        <label class="teal-label" for="resetStudentPassword">Student Email Address</label>
                        <input type="email" id="resetStudentPassword" #resetstudentpassword >
                        <p class="error" #resetstudentpasswordcontainer><span id="spnResetStudentPasswordErrorMessage"></span></p>
                        <div class="margin-1em-top">
                            <button id="btnStudentReset" class="button button-with-validation" type="submit" aria-disabled="true" disabled #btnresetstudentpassword (click)="onSubmitResetStudentPassword(resetstudentpassword,btnresetstudentpassword,resetstudentpasswordcontainer,successresetstudentpasswordcontainer,$event)">Send student password reset request</button>
                            <input type="reset" class="reset-input reset-input-mobile-block" value="Cancel" (click)="onCancelResetStudentPassword(resetstudentpassword,btnresetstudentpassword,$event)">
                            <p #successresetstudentpasswordcontainer class="success success-icon" style="display:none" id="successresetstudentpasswordmsg">Your student will receive a password reset email soon.</p>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</main>
<page-footer></page-footer>