<password-header></password-header>

<main role="main" class="app-logged-out">
    <div class="section">
        <div class="container-narrow">
            <h2>Welcome! Please set a new password now.</h2>
            <p>
                Your new password must be at least 8 characters long
                and contain at least one number and at least one special character.
                @, !, #, $, % are examples of special characters. Choose something easy for you to remember
                but difficult for others to figure out.
            </p>

            <form class="all-inputs-required margin-2em-top" role="form">
                <div>
                    <label for="newPassword">New password</label>
                    <input class="required-input" id="newPassword" #newpassword type="password" oncopy="return false" onpaste="return false" (keyup)="checkpasswordlength(newpassword,passwordconfirmation,resetpassword,$event)" aria-required="true" >
                </div>
                <div>
                    <label for="passwordConfirmation">Password confirmation</label>
                    <input class="required-input" id="passwordConfirmation" #passwordconfirmation type="password" oncopy="return false" onpaste="return false" (keyup)="checkpasswordlength(newpassword,passwordconfirmation,resetpassword,$event)" aria-required="true" >
                    <p #errorcontainer class="error"><span id="spnErrorMessage"></span></p>
                    <div class="margin-2em-top">
                        <button type="submit" class="button button-with-validation button-mobile-block" id="resetPassword" aria-disabled="true" disabled #resetpassword (click)="onSetPasswordFirstTime(newpassword,passwordconfirmation,resetpassword,homeredirectlink,errorcontainer,successcontainer,$event)">
                            Set new password
                        </button>
                        <p #successcontainer class="success success-icon" style="display:none" id="successmsg">You have successfully set your new password.</p>
                        <a [routerLink]="['/home']" #homeredirectlink style="display:none" id="homelink">Go to your home page</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>
