        <div class="large-expander" id="tableExpander">
            <div class="relative-position">
                <a class="large-expander-trigger-purple" [class.collapsed]="!expandUpdateDiv" role="button" data-toggle="collapse" (click)="expandRequestChanges($event)" aria-expanded="false" aria-controls="requestChanges">
                    Request changes to this cohort
                </a>
            </div>
            <div class="collapse" [class.in]="expandUpdateDiv" id="requestChanges">
                <div class="relative-position margin-1em-bottom">
                    <table class="table-with-cell-padding table-striped datatable-gray-labels" style="width:100%" id="markChangesTable">
                        <thead>
                            <tr class="gray-th">
                                <th scope="col">{{rosterChangesModel.cohortName}} Students</th>
                                <th scope="col">Move to different cohort</th>
                                <th scope="col">Make inactive</th>
                                <th scope="col">Grant untimed tests</th>
                                <th scope="col">Make Active</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let cohortStudent of rosterChangeUpdateStudents">
                                <td class="js-student-name">
                                    <div [class.strikethrough-text]="cohortStudent.IsInactiveForRostering">{{cohortStudent.lastName}}, {{cohortStudent.firstName}}</div>
                                    <button *ngIf="cohortStudent.isDuplicate" role="button" data-toggle="popover" data-placement="top"
                                        [attr.data-content]="cohortStudent?.email" class="unstyled-button has-popover small-popover">
                                        <img src="assets/images/identity-icon.png" alt="duplicate student name icon" width="24" height="24" />
                                    </button>
                                </td>
                                <td>
                                    <button  id="btnChangeToCohort_{{cohortStudent.studentId}}" [disabled]="cohortStudent.isInactive || cohortStudent.userExpiryDate || cohortStudent.IsInactiveForRostering" class="button button-small button-light js-choose-cohort button-fixed-width" [class.button-no-change]="(!cohortStudent.userExpiryDate && !(cohortStudent.isInactive) && !(cohortStudent.moveToCohortId !== null ))" (click)="showCohortPopup(cohortStudent.firstName,cohortStudent.lastName,cohortStudent.studentId,$event);">{{cohortStudent.moveToCohortName ===null ?'Choose an active cohort' : cohortStudent.moveToCohortName}}</button>
                                </td>
                              
                                <td>
                                    <input  type="checkbox" [checked]="cohortStudent.isInactive" class="checkbox-image js-drop" id="inactive_{{cohortStudent.studentId}}" (change)="checkInactive(cohortStudent.studentId,$event)" [disabled]="cohortStudent.userExpiryDate||(cohortStudent.moveToCohortId !== null )|| cohortStudent.isGrantUntimedTest || cohortStudent.IsInactiveForRostering"/>
                                    <label  for="inactive_{{cohortStudent.studentId}}"></label>
                                </td>
                                <td>
                                    <input  [checked]="cohortStudent.isGrantUntimedTest" type="checkbox" class="checkbox-image js-disable js-ADA" id="ADA_{{cohortStudent.studentId}}" (change)="checkGrantUntimedTest(cohortStudent.studentId,$event)" [disabled]="cohortStudent.isInactive || cohortStudent.userExpiryDate || cohortStudent.IsInactiveForRostering" />
                                    <label  for="ADA_{{cohortStudent.studentId}}"></label>
                                </td>
                                <td>
                                    <input  [checked]="!cohortStudent.IsInactiveForRostering" type="checkbox" class="checkbox-image js-disable js-Active" id="makeActive_{{cohortStudent.studentId}}" (change)="onActiveChange(cohortStudent.studentId,$event)" [disabled]="!cohortStudent.IsInactiveForRostering" />
                                    <label  for="makeActive_{{cohortStudent.studentId}}"></label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <request-change-roster-popup *ngIf="showRequestChangePopup"
                                                 [studentNameToChangeRoster]="studentNameToChangeRoster"
                                                 [toChangeRosterStudentId]="toChangeRosterStudentId"
                                                 [rosterChangesModel]="rosterChangesModel"
                                                 [rosterChangeUpdateStudents]="rosterChangeUpdateStudents"
                                                 (requestChangeCohortPopup)="changeCohortTo($event)">
                    </request-change-roster-popup>
                </div><!--closes relatively positioned div containing table and modal-->

                <div *ngIf="showDuplicateStudentMessage" class="small-icon-container-flush-text">
                    <img src="assets/images/identity-icon.png" class="duplicate-student-icon" alt="duplicate student icon" height="18" width="18"/>
                    <p>Student has the same first and last name as another student in this cohort roster. Click or tap on the icon to view the student’s email address.</p>
                </div>

                <div class="icon-container-flush-text">
                    <p class="icon info-icon-yellow">
                        You can request untimed versions of Kaplan tests for students who need testing accommodations. For more information on untimed tests, see the Frequently Asked Questions on the View Rosters page.
                    </p>
                </div>

            </div>

        </div> <!-- end first expander-->
