<section>
    <div class="section">
        <div class="container-medium-width">
        <h2 class="page-sm-heading-teal hidden-for-print">View Rosters</h2>
        <h3 class="page-lg-heading" *ngIf="pageType !== 'extendAccess' && !isExtendAccess">
            Request Changes or Updates: {{rosterChangesModel.cohortName}}
        </h3>
        <h3 class="page-lg-heading" *ngIf="pageType === 'extendAccess' || isExtendAccess">
            Request Extended Access: {{rosterChangesModel.cohortName}}
        </h3>
        <div>
            <span class="text-larger-purple left mobile-left-top-margin">{{rosterChangesModel.institutionName}} - {{rosterChangesModel?.programOfStudy}}</span>
            <a [routerLink]="['/rosters']" class="right mobile-left-top-margin hidden-for-print" id="goToRosters">Go to View Rosters page</a>
        </div>
        </div>
    </div>
</section>
