<section>
    <div class="container-medium-width margin-2em-bottom">
        <div class="section-light-gray container-purple-top text-purple">
            <img src="{{rosterChangesModel.accountManagerPhotoURI}}" width="313" height="313" class="profile-image img-round left margin-right-1em" alt="Account manager profile picture">
            <div class="relative-position clearfix">
                <p class="callout-AM no-margin-bottom">
                    Your request for changes or updates will be processed by your Kaplan Account Manager, <b>{{rosterChangesModel.accountManagerFirstName}} {{rosterChangesModel.accountManagerLastName}}</b>, within two (2) business days. If you have an urgent request, please contact {{accountManagerFirstName}} at 
                    <a class="text-purple" href="tel:+1-{{rosterChangesModel.accountManagerPhoneNumber}}"><strong>{{rosterChangesModel.accountManagerPhoneNumber}}</strong></a> or the Faculty Hotline at <a href="tel:+1-866-920-6311" class="text-purple"><b>1-866-920-6311</b></a>.
                </p>
            </div>
        </div>
    </div>
</section>
