        <div class="large-expander" id="tableExpander">
            <div class="relative-position">
                <a class="large-expander-trigger-purple" [class.collapsed]="!expandUpdateDiv" role="button" data-toggle="collapse" (click)="expandRequestChanges($event)" aria-expanded="false" aria-controls="requestChanges">
                    Request changes to this cohort
                </a>
            </div>
            <div class="collapse" [class.in]="expandUpdateDiv" id="requestChanges">
                <div class="relative-position">
                    <table class="table-with-cell-padding table-striped datatable-gray-labels" id="markChangesTable">
                        <thead>
                            <tr class="gray-th">
                                <th scope="col">{{rosterChangesModel.cohortName}} Students</th>
                                <th scope="col">Move to different cohort</th>
                                <th scope="col">Mark as repeater</th>
                                <th scope="col">Make inactive</th>
                                <th scope="col">Grant untimed tests</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let cohortStudent of rosterChangeUpdateStudents">
                                <td class="js-student-name">{{cohortStudent.lastName}},{{cohortStudent.firstName}}</td>
                                <td>
                                    <button  id="btnChangeToCohort_{{cohortStudent.studentId}}" [disabled]="cohortStudent.isActive" class="button button-small button-light js-choose-cohort button-fixed-width" [class.button-no-change]="!(cohortStudent.isActive) && !(cohortStudent.moveToCohortId !== null )" (click)="showCohortPopup(cohortStudent.firstName,cohortStudent.lastName,cohortStudent.studentId,$event);">{{cohortStudent.moveToCohortName ===null ?'Choose an active cohort' : cohortStudent.moveToCohortName}}</button>
                                </td>
                                <td>
                                    <input  type="checkbox" class="checkbox-image js-disable js-repeat" [checked]="cohortStudent.isRepeater" id="chkRepeat_{{cohortStudent.studentId}}" (change)="checkRepeater(cohortStudent.studentId,$event)" [disabled]="!enableRepeaterCheckbox || (cohortStudent.moveToCohortId ===null) || cohortStudent.isActive" />
                                    <label  for="chkRepeat_{{cohortStudent.studentId}}"></label>
                                </td>
                                <td>
                                    <input  type="checkbox" [checked]="cohortStudent.isActive" class="checkbox-image js-drop" id="inactive_{{cohortStudent.studentId}}" (change)="checkInactive(cohortStudent.studentId,$event)" [disabled]="(cohortStudent.moveToCohortId !== null )|| cohortStudent.isGrantUntimedTest"/>
                                    <label  for="inactive_{{cohortStudent.studentId}}"></label>
                                </td>
                                <td>
                                    <input  [checked]="cohortStudent.isGrantUntimedTest" type="checkbox" class="checkbox-image js-disable js-ADA" id="ADA_{{cohortStudent.studentId}}" (change)="checkGrantUntimedTest(cohortStudent.studentId,$event)" [disabled]="cohortStudent.isActive" />
                                    <label  for="ADA_{{cohortStudent.studentId}}"></label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <request-change-roster-popup *ngIf="showRequestChangePopup"
                                                 [studentNameToChangeRoster]="studentNameToChangeRoster"
                                                 [toChangeRosterStudentId]="toChangeRosterStudentId"
                                                 [rosterChangesModel]="rosterChangesModel"
                                                 [rosterChangeUpdateStudents]="rosterChangeUpdateStudents"
                                                 (requestChangeCohortPopup)="changeCohortTo($event)">
                    </request-change-roster-popup>
                </div><!--closes relatively positioned div containing table and modal-->

                <div class="icon-container-flush-text section-top-medium-thin">
                    <p class="icon info-icon-yellow">
                        You can request untimed versions of Kaplan tests for students who need testing accommodations. For more information on untimed tests, see the Frequently Asked Questions on the View Rosters page.
                    </p>
                </div>

            </div>

        </div> <!-- end first expander-->
