.tablesaw tr > td {
    position: relative;
}

.tablesaw-cell-label {
    color: inherit;
}

/*unstacked layout*/
@media (max-width: 699px){
    .tablesaw tr > td:first-child::after {
        right: 4px;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
     .tablesaw tr td:first-child{
         padding-left:0;
     } 

    .tablesaw-stack td .tablesaw-cell-label {
        width: auto;
        min-width: 30%;
    }
    .tablesaw-cell-content {
        padding-right: 10px;
    }
     .center .tablesaw-cell-content {
     float: right;
     }
}

/*stacked layout*/
@media (min-width: 700px) {
 .tablesaw td.center {
     text-align: center;
 }
}
