.table-fixed {
  word-wrap: break-word;
}

td.name-multiple-icons {
  padding-right: 55px !important;
  position: relative;
}

th:last-child, td:last-child {
  padding-left: .5em;
}

form.search-bar {
  top: -4px;
}

.small-popover {
  margin-left: 3px;
}

@media (min-width:768px) {     
  th:first-child, td:first-child {
    width: 40%;
  }
  th:last-child, td:last-child {
    padding-left: 2em;
  }
}
