@media (max-width:768px) {
.profile-image {
    max-height: 110px;
    max-width: 110px;
    }
}

@media (min-width:768px) {
    .callout-AM {
    /*vertically center*/
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    }
}

@media (min-width:768px) and (max-width: 992px){
    .callout-AM {
    padding-left: 145px;
    }
    .container-purple-top .profile-image {
    max-height: 115px;
    max-width: 115px;
    }
}

@media (min-width:992px) {
    .callout-AM {
    padding-left: 160px;
    padding-right: 3em;
    }
}
