<page-header></page-header>

<main role="main" class="app-main">
    <rosters-change-extend-header [rosterChangesModel]="rosterChangesModel"></rosters-change-extend-header>

    <section>
        <div class="container-medium-width">
            <h4 class="h5">Thank you! Your request has been submitted to your Account Manager<span class="hidden display-for-print"> ({{submittedDate | date:'shortDate'}})</span>.</h4>
            <p class="text-purple text-larger">You will receive an email confirming your requested changes have been made within two (2) business days.</p>
            <button (click)="print()" class="anchor-button icon print-icon margin-1em-top">Print this summary</button>
            <rosters-changes-summary-tables></rosters-changes-summary-tables>
            <div class="section section-top-thin hidden-for-print">
                <a [routerLink]="['/rosters']"class="anchor-button">Go to View Rosters page</a>
            </div>
        </div>
    </section>
</main>

<page-footer></page-footer>
