<div class="large-expander">
    <div class="relative-position">
        <a class="large-expander-trigger" (click)="collapsed=!collapsed" [class.collapsed]="collapsed" role="button" [attr.aria-expanded]="!collapsed"
            aria-controls="requestAddNew">
                  Request to add new students to this cohort
                </a>
    </div>
    <div [class.collapse]="collapsed" id="requestAddNew">

        <div *ngIf="(rosterChangesModel?.students | filterrosterchange:rosterUpdateType.AddToThisCohort:rosterUpdateType.AddToThisCohort)?.length > 0"
            class="margin-2em-top container-bordered section-medium-thin section-bottom-thin section-gray" id="addedStudents">
            <div class="container-medium-width">
                <p class="text-purple"><b>Students to be added to {{rosterChangesModel.cohortName}} cohort roster</b></p>
                <table data-tablesaw-mode="stack" class="tablesaw tablesaw-stack table-transparent tablesaw-last-row-no-border margin-bottom-none table-with-cell-padding last-row-no-border table-transparent datatable-gray-labels" id="addTable">
                    <thead>
                        <tr class="gray-th">
                            <th scope="col">Name</th>
                            <th scope="col">Email Address</th>
                            <th class="centered-th" scope="col" class="all">Grant untimed tests</th>
                            <th scope="col" class="all"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="tablesaw-stacked-hidden-border" *ngFor="let student of rosterChangesModel.students | filterrosterchange:rosterUpdateType.AddToThisCohort:rosterUpdateType.AddToThisCohort">
                            <td>{{student.lastName}}, {{student.firstName}}</td>
                            <td class="tablesaw-stacked-hidden">{{student.email}}</td>
                            <td class="center tablesaw-stacked-hidden">
                                <input type="checkbox" class="checkbox-image" [attr.id]="'untimedTest' + student.studentId" (change)="updateAddedStudentUntimed(student, $event)"
                                    [checked]="student?.isGrantUntimedTest">
                                <label [attr.for]="'untimedTest' + student.studentId"></label>
                            </td>
                            <td class="all tablesaw-stacked-hidden">
                                <button class="button button-light button-small js-remove" (click)="removeAddedStudent(student, $event)">Remove</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div *ngIf="(rosterChangesModel?.students|filterrosterchange:rosterUpdateType.MoveToThisCohort:rosterUpdateType.AddToThisCohort)?.length>0"
            class="margin-1em-top container-bordered section-medium-thin section-bottom-thin section-gray" id="addNewMoved">
            <div class="container-medium-width">
                <p class="text-purple"><b>Students to be moved to {{rosterChangesModel.cohortName}} cohort roster</b></p>
                <table data-tablesaw-mode="stack" class="tablesaw tablesaw-stack table-transparent tablesaw-last-row-no-border margin-bottom-none table-with-cell-padding last-row-no-border table-transparent datatable-gray-labels" id="moveTable">
                    <thead>
                        <tr class="gray-th">
                            <th scope="col">Name</th>
                            <th scope="col">Move from</th>
                            <th class="centered-th" scope="col">Mark as repeater</th>
                            <th class="centered-th" scope="col">Grant untimed tests</th>
                            <th scope="col" class="all"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="tablesaw-stacked-hidden-border" *ngFor="let student of rosterChangesModel?.students|filterrosterchange:rosterUpdateType.MoveToThisCohort:rosterUpdateType.AddToThisCohort">
                            <td>{{student.lastName}}, {{student.firstName}}</td>
                            <td class="tablesaw-stacked-hidden">{{student.moveFromCohortName}}</td>
                            <td class="center tablesaw-stacked-hidden">
                                <input type="checkbox" class="checkbox-image" [attr.id]="'repeater1' + student.studentId" (change)="updateRepeater(student, $event)"
                                    [checked]="student?.isRepeater">
                                <label [attr.for]="'repeater1' + student.studentId"></label>
                            </td>
                            <td class="center tablesaw-stacked-hidden">
                                <input type="checkbox" class="checkbox-image" [attr.id]="'untimedTest1' + student.studentId" (change)="updateUntimed(student, $event)"
                                    [checked]="student?.isGrantUntimedTest">
                                <label [attr.for]="'untimedTest1' + student.studentId"></label>
                            </td>
                            <td class="tablesaw-stacked-hidden">
                                <button class="button button-light button-small js-remove" (click)="removeMovedStudent(student,$event)">Remove</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <form class="section-medium-thin" id="addStudentForm">
            <div class="margin-1em-bottom">
                <div class="input-label-group-thirds">
                    <label class="teal-label" for="lastName">Last Name</label>
                    <input type="text" class="required-entry" id="lastName" name="lastName" aria-required="true" [(ngModel)]="lastName" (input)="checkValid()">
                </div>

                <div class="input-label-group-thirds">
                    <label class="teal-label" for="firstName">First Name</label>
                    <input type="text" class="required-entry" id="firstName" name="firstName" aria-required="true" [(ngModel)]="firstName" (input)="checkValid()">
                </div>

                <div class="input-label-group-thirds">
                    <label class="teal-label" for="email">Email Address</label>
                    <input type="text" class="required-entry" id="email" aria-required="true" name="email" [(ngModel)]="email" (input)="checkValid()">
                </div>

                <input type="checkbox" class="checkbox-image" id="ADAStudent" name="ADAStudent" [(ngModel)]="untimed" />
                <label class="teal-label" for="ADAStudent">This student needs untimed tests as part of testing accommodations</label>
                <button type="button" class="button right" [disabled]="!valid" (click)="addToCohort()" id="addStudentToCohort">Add</button>

            </div>
            <p *ngIf="!!errorMessage" class="error" role="alert" aria-live="assertive" aria-atomic="true">
                <span>{{errorMessage}}</span>
            </p>
        </form>

        <div *ngIf="existingStudents?.length>0" class="section-bottom-medium-thin" id="alreadyExists">
            <strong>This student already has a Kaplan account:</strong>
            <table class="table-with-cell-padding justified-ends last-row-no-border margin-1em-bottom datatable-gray-labels" id="alreadyExistsStudent">
                <thead>
                    <tr class="gray-th">
                        <th scope="col">Name</th>
                        <th scope="col">Cohort</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let student of existingStudents">
                        <td>{{student.lastName}}, {{student.firstName}}
                            <br />{{student.email}}</td>
                        <td>{{student.moveFromCohortName}}</td>
                        <td>
                            <button [disabled]="student?.expired" class="button button-small button-light" (click)="moveExistingStudent(student,$event)" id="moveExistingStudentButton">Request move <span class="hidden-small-phone-down">to this cohort</span></button></td>
                    </tr>
                </tbody>
            </table>
            <button class="anchor-button" (click)="clearToAddStudents($event)">Clear results</button>

        </div>
    </div>
</div>
