.button-fixed-width {
    width: 170px;
    white-space: normal;
}

.button-no-change {
    background-color: #eeeef6;
    border: 1px solid #c4c6ee;
    color: #5a5ea9;
}

.button-no-change:hover, .button-no-change:focus, .button-no-change:active {
    background-color: #e6e6f0;
    color: #5a5ea9;
}

.modal-small {
    max-width: 100%;
    width: 400px;
}

.modal-no-background {
    background-color: transparent;
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.modal-dialog {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    margin: 0;
}

.modal-content-small {
    padding: .75em 1em;
}

.modal-content-small .button {
    line-height: 1.4;
    margin-bottom: .5em;
    padding-top: .6em;
    padding-bottom: .6em;
    position: relative;
    text-align: left;
    white-space: normal;
    width: 100%;
}

.modal-content-small img {
    position: absolute;
    right: 1em;
}

.cohort-button-container {
    max-height: 200px;
    overflow: auto;
}
#markChanges table th:last-child, #markChanges table td:last-child {
    padding-right: 0;
}

.small-popover {
    margin-left: 5px;
}

.strikethrough-text{
    text-decoration: line-through;
}
