<page-header></page-header>

<main role="main" class="app-main">
    <rosters-change-extend-header [rosterChangesModel]="rosterChangesModel"></rosters-change-extend-header>
    <rosters-AM-info [rosterChangesModel]="rosterChangesModel" [accountManagerId]="rosterChangesModel.accountManagerId"></rosters-AM-info>
    <section>
        <div class="container-medium-width">
            <rosters-form 
             [rosterChangesModel]="rosterChangesModel"
             (changeUpdateRosterStudentsEvent)="changeUpdateRosterStudents($event)"
             (changeToDifferentCohortEvent)="changeToDifferentCohort($event)"
            ></rosters-form>
            <rosters-move 
            [rosterChangesModel]="rosterChangesModel" 
            (moveToCohort)="moveToCohort($event)" 
            (removeEvent)="remove($event)"
            (updateUntimedEvent) = "updateUntimed($event)"
            (updateRepeaterEvent) = "updateRepeater($event)"
            ></rosters-move>
        </div>
    </section>
</main>

<page-footer></page-footer>