<section>
    <div class="section">
        <div class="container-medium-width">
        <h2 class="page-sm-heading-teal">View Rosters</h2>
        <h3 class="page-lg-heading">Request Changes or Updates: {{rosterChangesModel.cohortName}}</h3>
        <div>
            <span class="text-larger-purple left mobile-left-top-margin">{{rosterChangesModel.institutionName}}</span>
            <a [routerLink]="['/rosters']" class="right mobile-left-top-margin" id="goToRosters">Go to View Rosters page</a>
        </div>
        </div>
    </div>
</section>
