<!--<input class="typeahead" type="search" autocomplete="off" role="search" (input)="searchStudents($event.target.value)" id="searchStudent"
    name="searchStudent">
-->

<div class="large-expander">
    <div class="relative-position">
        <a class="large-expander-trigger-purple" [class.collapsed]="collapsed" (click)="collapsed=!collapsed" role="button" aria-expanded="false"
            aria-controls="moveExisting">
                  Request to move existing students to this cohort
        </a>
    </div>
    <div [class.collapse]="collapsed" id="moveExisting">

        <div *ngIf="(rosterChangesModel?.students | filterrosterchange:rosterUpdateType:addedFromType)?.length>0" id="movedStudentFromSearch"
            class="margin-1em-top container-bordered section-medium-thin section-bottom-thin section-gray js-move-here">
            <div class="container-medium-width">
                <p class="text-purple"><b>Students to be moved to {{rosterChangesModel?.cohortName}} cohort roster</b></p>
                <table data-tablesaw-mode="stack" class="table-with-cell-padding tablesaw tablesaw-stack table-transparent tablesaw-last-row-no-border table-transparent datatable-gray-labels "
                    id="addedStudent1">
                    <thead>
                        <tr class="gray-th">
                            <th scope="col">Name</th>
                            <th scope="col">Move from</th>
                            <th class="centered-th" scope="col">Grant untimed tests</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="tablesaw-stacked-hidden-border" role="row" [class.odd]="i%2===1" [class.even]="i%2===0" *ngFor="let selectedStudent of rosterChangesModel.students | filterrosterchange:rosterUpdateType:addedFromType; let i =index">
                            <td tabindex="0">
                                <b class="tablesaw-cell-label">Name</b>
                                <span class="tablesaw-cell-content">{{selectedStudent.lastName}}, {{selectedStudent.firstName}}</span>
                            </td>
                            <td class="tablesaw-stacked-hidden">
                                <b class="tablesaw-cell-label">Move From</b>
                                <span class="tablesaw-cell-content">{{selectedStudent.moveFromCohortName}}</span>
                            </td>
                            <td class="center tablesaw-stacked-hidden">
                                <b class="tablesaw-cell-label">Grant untimed tests</b>
                                <span class="tablesaw-cell-content">
                                     <input type="checkbox" (change)="updateUntimed(selectedStudent, $event)" class="checkbox-image"
                                    [checked]="selectedStudent?.isGrantUntimedTest" [attr.id]="'untimed_' + selectedStudent.studentId">
                                    <label [attr.for]="'untimed_' + selectedStudent.studentId"></label>
                                </span>

                            </td>
                            <td class="center tablesaw-stacked-hidden"><button class="button button-small button-light js-remove tablesaw-cell-content" (click)="remove(selectedStudent, $event)">Remove</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="section-medium-thin">
            <form class="search-bar" role="form" onsubmit="return false;">
<label class="h6" for="findStudent1"><b>Find a student by first or last name</b></label>
<p class="smaller">
    Enter a minimum of 2 characters.
</p>
<div class="search-input">
    <input #searchTypeahead type="search" class="typeahead" role="search" (input)="searchStudents($event.target.value)" id="searchStudent"
        name="searchStudent">
    <button class="button" id="findStudentButton" type="submit" [disabled]="!searchString || searchString.length<2" (click)="searchButtonClick(searchTypeahead.value,$event);">
                          <img src="assets/images/search-icon_2x.png" alt="Search Icon">
                    </button>
</div>
<div *ngIf="noStudents" class="margin-1em-top">
    <span>{{noStudentsErrorMessage}}</span>
</div>
</form>
</div>
<!--<table class="table-fixed  last-row-no-border" id="searchResultsTable" *ngIf="boundStudents && boundStudents.length>0">
    <thead>
        <tr class="gray-th">
            <th scope="col">Name</th>
            <th scope="col">Cohort</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let student of boundStudents">
            <td>

                <i *ngIf="!student.isActive || student.moveFromCohortName?.toLowerCase() ==='inactive'">{{student.lastName}}, {{student.firstName}}</i>
                <span *ngIf="student.isActive && student.moveFromCohortName?.toLowerCase() !=='inactive'">{{student.lastName}}, {{student.firstName}}</span>

            </td>
            <td>

                <i *ngIf="!student.isActive || student.moveFromCohortName?.toLowerCase() ==='inactive'"> {{student.moveFromCohortName}}</i>
                <span *ngIf="student.isActive && student.moveFromCohortName?.toLowerCase() !=='inactive'"> {{student.moveFromCohortName}}</span>


            </td>
            <td>
                <button [disabled]="!!student.moved || student?.moveFromCohortExpired" class="button button-small button-light js-move" (click)="move(student, $event)">Request move <span class="hidden-small-phone-down">to this cohort</span></button>
            </td>
        </tr>
    </tbody>
</table>-->

<table data-tablesaw-mode="stack" class="table-fixed tablesaw tablesaw-stack table-transparent tablesaw-last-row-no-border margin-bottom-none"
    id="searchResultsTable" *ngIf="boundStudents && boundStudents.length>0">
    <thead>
        <tr class="gray-th">
            <th scope="col">Name</th>
            <th scope="col">Cohort</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr class="tablesaw-stacked-hidden-border" *ngFor="let student of boundStudents">
            <td>

                <b class="tablesaw-cell-label">Name</b>

                <div class="tablesaw-cell-content">
                    <i *ngIf="!student.isActive || student.moveFromCohortName?.toLowerCase() ==='inactive'">{{student.lastName}}, {{student.firstName}}</i>
                    <span *ngIf="student.isActive && student.moveFromCohortName?.toLowerCase() !=='inactive'">{{student.lastName}}, {{student.firstName}}</span>
                    <button *ngIf="student.duplicate" data-toggle="popover" data-placement="top"
                        [attr.data-content]="student?.email" class="unstyled-button has-popover small-popover">
                        <img src="assets/images/identity-icon.png" alt="duplicate student name icon" width="24" height="24" />
                    </button>
                </div>

            </td>
            <td class="tablesaw-stacked-hidden">
                <b class="tablesaw-cell-label">Cohort</b>
                <span class="tablesaw-cell-content">
                    <i *ngIf="!student.isActive || student.moveFromCohortName?.toLowerCase() ==='inactive'"> {{student.moveFromCohortName}}</i>
                    <span *ngIf="student.isActive && student.moveFromCohortName?.toLowerCase() !=='inactive'"> {{student.moveFromCohortName}}</span>
                </span>

            </td>
            <td class="center tablesaw-stacked-hidden">
                <button [disabled]="!!student.moved || student?.sameCohort" class="button button-small button-light js-move"
                    (click)="move(student, $event)">{{student?.buttonText}}</button>
            </td>
        </tr>
    </tbody>
</table>
<div *ngIf="showDuplicateStudentMessage" class="small-icon-container-flush-text section-top-medium-thin">
    <img src="assets/images/identity-icon.png" class="duplicate-student-icon" alt="duplicate student icon" height="18" width="18"/>
    <p>Student has the same first and last name as another student in this cohort roster. Click or tap on the icon to view the student’s email address.</p>
</div>
<button *ngIf="boundStudents && boundStudents.length>0" class="anchor-button margin-1em-top-bottom" (click)="clearSearchResults(searchTypeahead, $event)"
    id="clearResults">Clear search results</button>
</div>
</div>
<!-- End second expander -->
