<page-header></page-header>

<main role="main" class="app-main">
  <rosters-change-extend-header [rosterChangesModel]="rosterChangesModel"></rosters-change-extend-header>

  <section>
    <div class="container-medium-width">
      <rosters-changes-summary-tables #summaryTables></rosters-changes-summary-tables>
      <div class="section-top-medium-thin section clearfix">
        <div class="page-action-footer margin-1em-top-bottom">
          <button (click)="summaryTables.checkPrevRoute()" class="anchor-button anchor-button-left">Modify this request</button>
          <button (click)="submitRequests()" class="button">Submit request to Account Manager</button>
        </div>
        <button class="anchor-button anchor-button-center-mobile clear right " (click)="cancelChanges()">Cancel requested changes</button>
      </div>
    </div>
  </section>
</main>

<page-footer></page-footer>


<confirmation-popup [popupId]="'confirmationPopup'" [message]="'Are you sure you want to leave this page? <br>Your work will be lost and you’ll have to start over.'"
  [okButtonText]="'Yes, leave this page'" [cancelButtonText]="'No, stay on this page'" (onOK)="onOKConfirmation()" (onCancel)="onCancelConfirmation($event)"
  [hideClose]="false">
</confirmation-popup>