<footer class="footer-logged-in" role="contentinfo">
    <nav class="footer-grid container" role="navigation" aria-label="site">
        <div>
            <a [routerLink]="['/Home']">Home</a><br>
            <a [routerLink]="['/ManageTests']">Manage Tests</a>
        </div>
        <div>
            <a [routerLink]="['/Reports']">View Reports</a><br>
            <a [routerLink]="['/Account']">Manage Account</a>
        </div>
        <div>
            <a [routerLink]="['/Rosters']">View Rosters</a><br>
            <a [routerLink]="['/Groups']">Manage Groups</a>
        </div>
        <div>
            <a href="#" [routerLink]="['/UserGuide']">Faculty User Guide</a><br>
            <a href="#" (click)=signout()>Sign Out</a>
        </div>
    </nav>

    <div class="footer-copyright section-thin center">
        <span>© 2016 Kaplan, Inc.</span>
    </div>
</footer>