<footer class="footer-logged-in" role="contentinfo">
    <nav class="footer-grid container" role="navigation" aria-label="site">
        <div>
            <a href="/">Home</a><br>
            <a href="#">Manage Tests</a>
        </div>
        <div>
            <a href="#">View Reports</a><br>
            <a href="#/account">Manage Account</a>
        </div>
        <div>
            <a href="#">View Rosters</a><br>
            <a href="#">Manage Groups</a>
        </div>
        <div>
            <a href="#/help">Help/Contact</a><br>
            <a href="#">Sign Out</a>
        </div>
    </nav>

    <div class="footer-copyright section-thin center">
        <span>© 2015 Kaplan, Inc.</span>
    </div>
</footer>