<header class="inner-banner inner-banner-logged-out" role="banner">
  <div class="branding--center">
      <h1 class="center">
          <a href="index.html">
              <img class="branding-logo-white" src="images/logo-white_2x.png" alt="Kalplan Nursing">
              <span class="screen-reader-only">Kaplan Nursing Faculty Login</span>
          </a>
      </h1>

  </div>
  <div class="dropdown">
    <div class="dropdown-container">
      <p class="dropdown-button">Welcome, Faculty Name</p>
      <ul class="dropdown-menu dropdown-select">
        <li class="menu-icon home-icon">
          <a href="faculty-home.html">Home</a>
        </li>
        <li class="menu-icon profile-icon">
          <a href="my-profile.html">My Account</a>
        </li>
        <li class="menu-icon cohorts-icon">
          <a href="my-cohorts.html">My Cohorts</a>
        </li>
        <li class="menu-icon students-icon">
          <a href="my-students.html">My Students</a>
        </li>
        <li class="menu-icon pencil-icon">All Scheduled Tests</li>
        <li class="menu-icon sign-out-icon">
          <a href="index.html">Sign out</a>
        </li>
      </ul>
    </div>
  </div>
</header>