<header class="inner-banner" role="banner">
    <div class="container">
        <div class="branding-center">
            <h1 class="center">
                <a [router-link]=["/Home"]>
                    <img class="branding-logo-white" src="images/logo-white_2x.png" alt="Kalplan Nursing">
                    <span class="screen-reader-only">Kaplan Nursing Faculty Home Page</span>
                </a>
            </h1>
        </div>
        <dropdown-menu></dropdown-menu>       
    </div>
</header>