<page-header></page-header>
<main role="main" class="app-main">
    <test-header [modify]="modify" [modifyInProgress]="modifyInProgress" (cancelChanges)="onCancelChanges()" (continueMakingChanges)="onContinueMakingChanges()" scheduleStep='Add students' [testSchedule]="testScheduleModel"></test-header>
    <div class="thin-section">
        <div class="container add-students-outer-container section-small-screen-no-padding">

            <!--Tabs will not be shown for MVP. Only option will be to select by cohort-->
            <!-- Nav tabs -->
            <ul class="nav nav-tabs minimal-nav-tabs margin-left-1em">
                <li class="active" id="ByCohort"><a href="javascript:void(0);" (click)="AddByCohort($event);" data-toggle="tab">Add by Cohort</a></li>
                <!--<li><a href="#addByGroup" data-toggle="tab">Add by Group</a></li>-->
                <li id="ByName"><a href="javascript:void(0);" (click)="AddByName($event);" data-toggle="tab">Add by Name</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="testing-add-students-container">
                <div class="grid left-grid">
                    <div class="tab-content">
                        <div class="tab-pane active" id="addByCohort">
                            <div id="chooseCohortContainer">

                                <div class="top-section " *ngIf="!noCohort">
                                    <select id="chooseCohort" #selectcohort class="selectpicker" title="Choose a Cohort" data-width="65%" (change)="loadStudentsByCohort(addallstudents,cohortstudentlist,selectcohort,$event);">
                                        <option *ngFor="let cohort of cohorts; let i=index;" [selected]="cohort.CohortId==lastSelectedCohortID" [value]="cohort.CohortId">{{cohort.CohortName}}</option>
                                    </select>
                                    <button id="addAllStudents" #addallstudents class="button button-small button-light right hidden" (click)="AddAllStudentsByCohort($event)">Add all students</button>
                                </div>

                                <div *ngIf="noCohort">
                                    <p class="text-larger section-medium-thin container-narrow ">We're sorry, there are no active cohorts in your institution. Please contact your Account Manager for further assistance. You can find your Account Manager's contact info on the <a [routerLink]="['/home']">Home page</a>.</p>
                                </div>
                            </div>
                            <!-- closes cohort container-->
                        </div><!--closes tab pane-->

                        <div class="tab-pane" id="addByName">
                            <!-- Opening of Add By Name-->

                            <div id="chooseStudentContainer">
                                <div class="top-section">
                                    <div id="chooseStudent">
                                        <form class="search-bar indented" role="form" >
                                            <label for="findStudentToAdd" class="label-with-instructions">Find student by first or last name</label>
                                            <p class="smaller text-smaller-margin">Enter a minimum of 2 characters to start searching.</p>
                                            <div class="search-input">
                                                <input class="typeahead" type="search" autocomplete="off" role="search" #findstudenttoadd id="findStudentToAdd" (input)="CallOnSearchInput(findstudenttoadd);" (keyup)="FillGridWithSearch(findstudenttoadd.value,$event);" (click)="CallonSearchClick($event);">
                                                <button class="button" disabled id="btnTypeahead" type="submit" (click)="searchStudent(findstudenttoadd.value,$event);">
                                                    <img src="images/search-icon_2x.png" alt="Search Icon">
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div *ngIf="noSearchStudent">
                                    <p class="text-larger section-medium-thin container-narrow ">{{noStudentInFindByName}}</p>
                                </div>
                            </div>
                        </div> <!-- Closing Add By Name-->

                        <div class="hidden" id="cohortStudentList" #cohortstudentlist>
                            <!--contains table and sets a max height so that it scrolls-->
                            <table id="cohortStudents" style="width:100%" class="tablesorter table-with-small-button-row order-column stripe table-with-cell-padding table-striped last-row-no-border">
                                <thead>
                                    <tr>
                                        <th class="select-filter" scope="col">Last Name</th>
                                        <th class="select-filter" scope="col">First Name</th>
                                        <th scope="col">Cohort</th>
                                        <th scope="col">Retesting</th>
                                        <th class="all" scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let student of cohortStudentlist | sort:'asc':'LastName'" >
                                        <td title="{{student.Email}}" [class.duplicate-student]="student.duplicate" [attr.lastname]="student.LastName">{{student.LastName}}
                                            <!--Last name must be on same line as opening tag or last name starts with new line and search filter fails to match-->
                                            <a *ngIf="student.duplicate"
                                               tabindex="0"
                                               role="button"
                                               data-toggle="popover"
                                               data-placement="top"
                                               data-trigger="click focus"
                                               [attr.data-content]="student.Email"
                                               class="duplicate-student-table-icon has-popover small-popover">
                                                <img src="images/identity-icon.png"
                                                     alt="duplicate student name icon"
                                                     width="24" height="24" />
                                            </a>
                                        </td>
                                        <td [attr.firstname]="student.FirstName">{{student.FirstName}}</td>
                                        <td>{{isAddByName?student.CohortName:lastSelectedCohortName}}</td>
                                        <td [class]="getRetesterClass(student)">{{getRetester(student)?"Yes":"No"}}</td>
                                        <td>
                                            <button class="button button-small button-light" [attr.id]="'cohort-'+student.StudentId" [attr.ada]="student.Ada" [attr.email]="student.Email" (click)="AddStudent(student,$event)">Add</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div> <!--closes hidden-->                        
                    </div><!--closes tab pane-->
                </div>
                <!--end left-grid-->
                <div class="grid right-grid">
                    <div class="top-section"  [class.modify]="modifyInProgress" [class.active]="modify || modifyInProgress">
                        <h4 class="white-text h6 no-margin-bottom" id="studentAddedToTestingSession">Students in Testing Session ({{selectedStudentCount}})</h4>
                    </div>
                    <div class="section-medium-thin container-narrow lightbulb-icon-container-flush-text" *ngIf="selectedStudentCount === 0" id="selectedStudentsContainer">
                        <p *ngIf="!modifyInProgress" class="icon lightbulb-icon">Students you add to your testing session by Cohort will appear here.</p>
                        <p *ngIf="!modifyInProgress" class="icon lightbulb-icon">You will be able to assign alternate test versions to retesting students before moving to Step 4.</p>
                        <p *ngIf="!modifyInProgress" class="icon lightbulb-icon">If a cohort you are expecting to see does not appear in the menu, please check your testing window in Step 2.</p>
                        <p *ngIf="modifyInProgress" class="icon lightbulb-icon">Students you add to your testing session by Cohort will appear here. <strong>You must have at least one student in this testing session to continue.</strong></p>
                        <p *ngIf="modifyInProgress" class="icon lightbulb-icon">You will be able to assign alternate test versions to retesting students before finalizing your changes.</p>
                        <p *ngIf="modifyInProgress" class="icon lightbulb-icon">If a cohort you are expecting to see does not appear in the menu, please check your testing window.</p>
                    </div>
                    <div id="testSchedulingSelectedStudents" class="added-student-list" [hidden]="selectedStudentCount === 0">
                        <form class="test-scheduling-selected-students-container">
                            <ul id="testSchedulingSelectedStudentsList"></ul>
                        </form>
                        <div class="search-added-students">
                            <div class="filter-students-container">
                                <label class="screen-reader-only" for="filterSelectedStudents">Find Student</label>
                                <input type="search" role="search" id="filterSelectedStudents" placeholder="Find student" class="small-search-box">
                                <span class="icon" #selectedStudentsFilter (click)="invokeFilterSelectedStudents()"></span>
                            </div>
                            <button class="button button-small button-light" id="RemoveAllStudents" (click)="RemoveAllSelectedStudents($event)">Remove all students</button>
                        </div>
                        <!--closes search for student-->
                    </div>
                    <!--closes added student list-->
                </div>
                <!--closes right grid-->
            </div><!-- closes testing-add-students-container-->
        </div><!--closes container small with no padding-->

        <div class="container add-students-outer-container section section-top-thin">
            <div class="icon-container-flush-text">
                <p *ngIf="modifyInProgress" class="icon red-triangle-alert-small-icon margin-1em-top" id="alreadyStartedNote"><strong>Please note:</strong> Students who have already started their test can no longer be removed from the testing session.</p>
                <p class="icon info-icon-yellow" *ngIf="!hasADA && selectedStudents.length > 0">
                    Please contact your Account Manager if there are students in your testing session who need testing accommodations.
                    Students with testing accommodations receive untimed versions of their tests.
                </p>
                <p class="icon info-icon-yellow" *ngIf="hasADA && selectedStudents.length > 0">
                    One or more of the students you have added have testing accommodations. Their test will be untimed.
                    For more information or to designate additional students who need testing accommodations, please contact your Account Manager.
                </p>
                <p class="icon info-icon-yellow margin-1em-top" *ngIf="!modifyInProgress && selectedStudents.length > 0">All of the students you have added will remain scheduled for this test unless you remove them prior to test day.</p>
                <button type="button" class="button button-mobile-block right margin-2em-top-bottom" id="reviewDetails" [disabled]="makeSave_ContinueButtonEnableDisable()" (click)="save_ContinueButtonClick($event);"> <span *ngIf="!modifyInProgress" class="hidden-extra-small-down">Next step: </span>{{ modifyInProgress ? 'Verify changes and save' : 'Add details and review'}}</button>
                <div *ngIf="modifyInProgress">
                    <button class="anchor-button right clear" (click)="confirmCancelChanges($event)">Cancel changes</button>
                </div>
            </div>
        </div>
    </div>
    <!--closes div section-->
</main>

<page-footer></page-footer>
<confirmation-popup [popupId]="'confirmationPopup'"
                    [message]="'Are you sure you want to leave this page? <br>Your work will be lost and you’ll have to start over.'"
                    [okButtonText]="'Yes, leave this page'"
                    [cancelButtonText]="'No, stay on this page'"
                    (onOK)="onOKConfirmation()"
                    (onCancel)="onCancelConfirmation($event)"
                    [hideClose]="true">
</confirmation-popup>
<alert-popup [popupId]="'alertPopup'"
             [message]="'We’re sorry! The testing window you specified has expired and needs to be changed. Please specify a new testing window.'"
             [okButtonText]="'OK'"
             (onOK)="onOKAlert()"
             [hideClose]="false">
</alert-popup>

<alert-popup [popupId]="'testPassed'"
             [message]="'We’re sorry! You can no longer modify this testing session because it has already taken place. Click or tap “OK” to go back to the Manage Tests main page.'"
             [okButtonText]="'OK'"
             (onOK)="cancelStartingTestChanges($event)"
             [hideClose]="false">
</alert-popup>

<alert-popup [popupId]="'testStarted'"
             [message]="'We’re sorry! This testing session is now underway and you can no longer modify it from this location. Click or tap “OK” to go to the Manage Tests main page, where you will be able to make changes to this testing session.'"
             [okButtonText]="'OK'"
             (onOK)="cancelStartingTestChanges($event)"
             [hideClose]="false">
</alert-popup>

<test-starting-popup [popupId]="'testStartingin5'"
                    [heading]="'Alert: Testing Session Starting in 5 Minutes'"
                    leadParagraph="This testing session is scheduled to start in <b>5 minutes ({{testScheduleModel.scheduleStartTime|parseDate:'h:mma'}})</b>."
                    [paragraph]="'Once this testing session is in progress, you will no longer be able to modify it from this location.'"
                    [okButtonText]="'Continue modifying this session'"
                    [cancelButtonText]="'Cancel changes'"
                    (onOK)="onCancelConfirmation($event)"
                    (onCancel)="cancelStartingTestChanges($event)">
</test-starting-popup>

<test-starting-popup [popupId]="'testStartingin10'"
                    [heading]="'Alert: Testing Session Starting in 10 Minutes'"
                    leadParagraph="This testing session is scheduled to start in <b>10 minutes ({{testScheduleModel.scheduleStartTime|parseDate:'h:mma'}})</b>."
                    [paragraph]="'Once this testing session is in progress, you will no longer be able to modify it from this location.'"
                    [okButtonText]="'Continue modifying this session'"
                    [cancelButtonText]="'Cancel changes'"
                    (onOK)="onCancelConfirmation($event)"
                    (onCancel)="cancelStartingTestChanges($event)">
</test-starting-popup>
