<page-header></page-header>
<main role="main" class="app-main">
    <test-header [modify]="modify" scheduleStep='Schedule a test' [testSchedule]="testScheduleModel" [hideCancelButton]=true></test-header>
    <div class="section">
    <div class="container-medium-width">
        <h4>{{ modify ? 'Success! Your scheduled test has been modified.' : 'Success! Your test has been scheduled.' }}
              <!--This will be added in post-MVP <br>You will receive an email confirmation soon. -->
        </h4>
        <div class="thin-section margin-1em-top">
            <div class="section section-beige container-dull-yellow-top text-larger">
            <p class="no-margin-bottom"><strong>Please note:</strong> If there are students in your testing session who need testing accommodations, please submit their
                names to your Account Manager <b>at least 48 hours prior to test day</b>. Students with testing accommodations receive untimed versions of their tests.
            </p>
            </div>
        </div>
        <div class="margin-2em-top">
            <a [routerLink]="['/tests','modify','view',testScheduleModel.scheduleId]">View/print this testing session</a>
        </div>
        <p class="margin-2em-top-bottom">Need to make changes? <a [routerLink]="['/tests','modify','choose-test',testScheduleModel.institutionId]">Modify this testing session</a></p>
        <a [routerLink]="['/tests']">Go to Manage Tests main page</a>
    </div>
</div>
</main>

<page-footer></page-footer>