<password-header></password-header>

<main role="main" class="app-logged-out">
    <div class="section">
        <div class="container-narrow">
            <h2>Welcome to your Kaplan resources! <br /> Please set a password now.</h2>
            <p>
                Your password must be at least 8 characters long, and contain at least one number and at least one special character. @, !, #, $, % are examples of special characters. Choose something easy for you to remember but difficult for others to figure out.
            </p>

            <form class="all-inputs-required margin-2em-top" role="form">
                <div>
                    <label for="newPassword">Password</label>
                    <input class="required-input" id="newPassword" #newpassword type="password" oncopy="return false" onpaste="return false" (keyup)="checkpasswordlength(newpassword,passwordconfirmation,$event)" aria-required="true">
                </div>
                <div>
                    <label for="passwordConfirmation">Password confirmation</label>
                    <input class="required-input" id="passwordConfirmation" #passwordconfirmation type="password" oncopy="return false" onpaste="return false" (keyup)="checkpasswordlength(newpassword,passwordconfirmation,$event)" aria-required="true">
                    <p #errorcontainer class="error"><span id="spnErrorMessage">{{errorMessage}}</span></p>
                    <div class="margin-2em-top">
                        <button *ngIf="!setPasswordSuccess" type="submit" class="button button-with-validation button-mobile-block" id="resetPassword" [attr.aria-disabled]="invalidLength" [disabled]="invalidLength" #resetpassword (click)="onSetPasswordFirstTime(newpassword,passwordconfirmation,errorcontainer,$event)">
                            Set your password
                        </button>
                        <p #successcontainer class="success success-icon" *ngIf="setPasswordSuccess" id="successmsg">You have successfully set your password.</p>
                    </div>
                    <div class="margin-2em-top">
                        <button *ngIf="setPasswordSuccess" type="button" class="button button-with-validation button-mobile-block" id="termsCondition" #termscondition (click)="ShowTermsConditions($event)">
                            {{continueTerm}}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>

<terms-of-use [showTerms]="showTerms"
              (buttonEvent)="confirm($event)"
              (cancelEvent)="onCancel($event)"
              [showX]="false"
              [showCancel]="true"
              [showCheckbox]="true"
              [buttonText]="'Confirm'"
              [termsAccepted]="false">

</terms-of-use>  
