<page-header></page-header>
<main role="main" class="app-main">
    <div class="section">
        <div class="container-medium-width edit-info">
            <h2 class="page-sm-heading-teal">Manage Account Details</h2>

            <div class="section-medium-thin" id="save-basic-info">
                <form class="form-medium-width" id="personal-info-form" role="form" label="personal info">
                    <div class="text-larger-margin">
                        <h3 class="text-larger-teal heading-inline">Personal Information</h3>
                        <span class="right teal-label">*Required field</span>
                    </div>
                    <label class="teal-label required" for="firstName">First Name</label>
                    <input type="text" id="firstName" #firstname aria-required="true" [(ngModel)]=firstName (ngModelChange)="checkfirstnamelastname()">
                    <label class="teal-label required" for="lastName">Last Name</label>
                    <input type="text" id="lastName" #lastname aria-required="true" [(ngModel)]=lastName (ngModelChange)="checkfirstnamelastname()">
                    <label class="teal-label" for="facultyTitle">Title</label>
                    <input type="text" id="facultyTitle" #title [(ngModel)]=facultyTitle (ngModelChange)="checkfirstnamelastname()">
                    <p *ngFor="let item of schoolName">{{item}}</p>
                    <div class="margin-1em-top">
                        <button class="button  button-with-validation button-mobile-block" id="btnProfileSave" type="submit" [attr.aria-disabled]="noProfileChanges"
                        [disabled]="noProfileChanges" #profilesave (click)="onSubmitSaveProfile(firstname, lastname, title, $event)">Save changes</button>
                        <input *ngIf="!profileChanged" type="reset" id="profilecancel" class="reset-input" value="Cancel changes" #profilecancel (click)="onCancelSaveProfile($event)">
                        <span role="status" aria-live="assertive" aria-atomic="true">
                            <span *ngIf="profileChanged" #successcontainer id="successmsg" class="success success-icon">Your changes have been saved.</span>
                        </span>
                    </div>
                </form>

                <form class="form-medium-width margin-2em-top" id="changeEmailForm" role="form" label="change email">
                    <p class="teal-label">Email Address</p>
                    <p class="text-larger"><span id="emailId">{{emailId}}</span></p>
                    
                    <div *ngIf="showChangeEmailSection" id="changeEmailFormSubmittable">
                        <div>
                            <label class="teal-label" for="emailAddress">New Email Address</label>
                            <input type="email" id="emailAddress" #newemailid aria-required="true" (input)="checkemailpassword(newemailid, txtpassword, $event)">
                            <p class="error" #emailerrorconainer role="alert" aria-live="assertive" aria-atomic="true">
                                <span id="spnEmailErrorMessage">{{changeEmailErrorMessage}}</span>
                            </p>
                            <label class="teal-label" for="password">Current Password</label>
                            <input type="password" id="txtPassword" #txtpassword oncopy="return false" onpaste="return false" aria-required="true" (input)="checkemailpassword(newemailid, txtpassword, $event)">
                            <p class="error" #passworderrorconainer role="alert" aria-live="assertive" aria-atomic="true">
                                <span id="spnPasswordErrorMessage">{{changeEmailPasswordErrorMessage}}</span>
                            </p>
                        </div>
                        <div class="margin-1em-top">
                            <button class="button  button-with-validation button-mobile-block" type="submit" id="ChangeEmail" [disabled]="changeEmailDisabled" [attr.aria-disabled]="changeEmailDisabled"
                                #changeemail (click)="onSubmitChangeEmail(newemailid,txtpassword,$event)">
                                Change email address
                            </button>
                            <input *ngIf="!changedEmail" type="reset" id="resetEmailSave" #resetemailsave class="reset-input" value="Cancel" (click)="onCancelChangeEmail()">
                            <span role="status" aria-live="assertive" aria-atomic="true">
                                <span *ngIf="changedEmail" #successemailcontainer class="success success-icon" id="successemailmsg">You have successfully changed your email address.</span>
                            </span>
                        </div>
                    </div>
                    
                    <div class="margin-1em-top">
                        <button *ngIf="!showChangeEmailSection" class="button button-with-validation button-mobile-block" type="button" #showchangeemail (click)="showChangeEmail();">
                            Change email address
                        </button>
                    </div>
                </form>

            </div>
            <hr>

            <div class="section-medium-thin">
                <h3 class="text-larger-teal text-larger-margin">Reset Your Password</h3>
                <form role="form" class="form-medium-width" label="reset password">
                    <label class="teal-label" for="currentPassword">Current Password</label>
                    <input type="password" id="currentPassword" #currentpassword oncopy="return false" onpaste="return false" aria-required="true" (input)="passwordReset=false" [(ngModel)]="currentPasswordModel">
                    <p class="error" #currentpasswordcontainer role="alert" aria-live="assertive" aria-atomic="true">
                        <span id="spnCurrentPasswordErrorMessage"></span>
                    </p>
                    <label class="teal-label" for="newPassword">New Password</label>
                    <input type="password" id="newPassword" #newpassword oncopy="return false" onpaste="return false" (focus)="showHint()" aria-required="true" (input)="passwordReset=false" [(ngModel)]="newPasswordModel">
                    <div class="lightbulb-icon-container-flush-text" role="alert" aria-live="assertive" aria-atomic="true">
                        <p *ngIf="showHintMessage" id="divNewPasswordInfo" class="icon lightbulb-icon section-medium-thin">
                            Your new password must be different than your last five passwords, at least 8 characters long, and contain at least one number
                            and at least one special character. @, !, #, $, % are examples of special characters. Choose
                            something easy for you to remember but difficult for others to figure out.
                        </p>
                    </div>
                    <label class="teal-label" for="confirmNewPassword">Confirm New Password</label>
                    <input type="password" id="confirmNewPassword" #confirmpassword oncopy="return false" onpaste="return false" aria-required="true" (input)="passwordReset=false" [(ngModel)]="confirmPasswordModel">
                    <p class="error" id="errorResetPasswordContainer" #resetpasswordcontainer role="alert" aria-live="assertive" aria-atomic="true">
                        <span id="spnResetPasswordErrorMessage">{{resetPasswordErrorMessage}}</span>
                    </p>
                    <div class="margin-1em-top">
                        <button class="button button-with-validation button-mobile-block" id="btnResetPassword" type="submit" [attr.aria-disabled]="!(currentpassword.value.length > 0 && newpassword.value.length > 0 && confirmpassword.value.length > 0)"
                        [disabled]="!(currentpassword.value.length > 0 && newpassword.value.length > 0 && confirmpassword.value.length > 0)" #resetpassword (click)="onSubmitResetPassword(currentpassword,newpassword,confirmpassword,$event)">Reset your password</button>
                        <!--reset input would be replaced by success paragraph after successful submission of form-->
                        <input *ngIf="!passwordReset" type="reset" #resetresetpassword id="btnResetResetPassword" class="reset-input" value="Cancel" (click)="onCancelResetPassword()">
                        <span role="status" aria-live="assertive" aria-atomic="true">
                            <span *ngIf="passwordReset" #successresetpasswordcontainer class="success success-icon" id="successResetPasswordContainer">{{resetPasswordSuccessMessage}}</span>
                        </span>
                    </div>
                </form>
            </div>
            <hr>

            <div class="section-medium-thin">
                <h3 class="text-larger-teal" id="sendStudentInfo">Send Student User Name and Password</h3>
                <form role="form" label="request student login credentials">
                    <p class="text-larger-margin">Enter a student's email address to have their Kaplan Nursing user name and password sent to their mailbox.</p>
                    <div class="form-medium-width">
                        <label class="teal-label" for="resetStudentPassword">Student Email Address</label>
                        <input type="email" id="resetStudentPassword" #resetstudentpassword aria-required="true" [(ngModel)]="emailText">
                        <p class="error" #resetstudentpasswordcontainer role="alert" aria-live="assertive" aria-atomic="true">
                            <span id="spnResetStudentPasswordErrorMessage">{{sendStudentPasswordErrorMessage}}</span>
                        </p>
                        <div class="margin-1em-top">
                            <button id="btnStudentReset" class="button button-with-validation button-mobile-block" type="submit" [attr.aria-disabled]="(!resetstudentpassword.value.length > 0)"
                            [disabled]="(!resetstudentpassword.value.length > 0)"  #btnresetstudentpassword (click)="onSubmitSendStudentPassword(resetstudentpassword,$event)">Send sign in info to student</button>
                            <input id="btnClearResetStudentPassword" (click)="emailText=''" (click)="sendStudentPasswordErrorMessage=''" type="reset" #btnclearresetstudentpassword class="reset-input reset-input-mobile-block"
                            value="Cancel" (keypress)="0">
                            <span role="alert" aria-live="assertive" aria-atomic="true">
                                <span *ngIf="studentPasswordReset" #successresetstudentpasswordcontainer class="success success-icon" id="successResetStudentPasswordContainer">{{studentPasswordResetSuccessMessage}}</span>
                            </span>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</main>
<page-footer></page-footer>