<page-header></page-header>
<main role="main" class="app-main">
    <div class="section-thin section-teal fixed-position faculty-user-guide-header">
        <div class="container">
            <h2 class="h3 center white-text text-smaller-margin user-guide-heading">Integrated Testing Faculty User Guide</h2>
            <span class="smaller white-text center branding-center">Last Updated: {{modifiedDate|parseDate:'MMMM'}} {{modifiedDate|parseDate:'D'}}, {{modifiedDate|parseDate:'YYYY'}}</span>
            <button id="printButton" (click)="print($event)" class="smaller anchor-button white-text icon print-icon-white hidden-small-down white-link right">Print this page</button>
        </div>
    </div>

    <div class="section">
        <div class="container-medium-width faculty-user-guide">
            <div class="faculty-user-guide-menu">
                <ul class="list-extra-spacing">
                    <li><a [class.text-purple-bold]="activeId==='#whatsNew'" href="javascript:void(0)" (click)="scroll('#whatsNew',$event)">What’s New</a></li>
                    <li><a [class.text-purple-bold]="activeId==='#programOverview'" href="javascript:void(0)" (click)="scroll('#programOverview',$event)">Program Overview</a></li>
                    <li><a [class.text-purple-bold]="activeId==='#gettingStarted'" href="javascript:void(0)" (click)="scroll('#gettingStarted',$event)">Getting Started with Kaplan</a></li>
                    <li><a [class.text-purple-bold]="activeId==='#testingResources'" href="javascript:void(0)" (click)="scroll('#testingResources',$event)">Testing and Remediation Resources</a></li>
                    <li><a [class.text-purple-bold]="activeId==='#clinicalResources'" href="javascript:void(0)" (click)="scroll('#clinicalResources',$event)">Clinical Resources</a></li>
                    <li><a [class.text-purple-bold]="activeId==='#NCLEX'" href="javascript:void(0)" (click)="scroll('#NCLEX',$event)">NCLEX Preparation</a></li>
                    <li><a [class.text-purple-bold]="activeId==='#eBooks'" href="javascript:void(0)" (click)="scroll('#eBooks',$event)">Student eBooks</a></li>
                    <li><a [class.text-purple-bold]="activeId==='#successTutorials'" href="javascript:void(0)" (click)="scroll('#successTutorials',$event)">Nursing School Success Tutorials</a></li>
                    <li><a [class.text-purple-bold]="activeId==='#reports'" href="javascript:void(0)" (click)="scroll('#reports',$event)">Creating and Viewing Reports</a></li>
                    <li><a [class.text-purple-bold]="activeId==='#research'" href="javascript:void(0)" (click)="scroll('#research',$event)">Research and White Papers</a></li>
                </ul>
            </div>

            <div class="faculty-user-guide-content">
                <section id="whatsNew">
                    <h2>What’s New</h2>
                    <p>Tofu put a bird on it pitchfork literally, 90's pork belly helvetica keffiyeh lo-fi bicycle rights. Farm-to-table
                        seitan marfa bitters, mumblecore yr ramps before they sold out jean shorts cliche. Art party direct
                        trade skateboard health goth, truffaut retro irony banh mi keffiyeh pinterest.
                    </p>
                    <p>Waistcoat deep v wayfarers, vice intelligentsia kombucha aesthetic. Cray portland 3 wolf moon knausgaard,
                        bespoke kale chips offal. Tacos fap fixie, +1 stumptown VHS microdosing disrupt pour-over vice vinyl
                        migas yuccie. Pitchfork ugh cold-pressed beard.
                    </p>
                </section>

                <section id="programOverview">
                    <h2>Program Overview</h2>
                    <p><b>Kaplan Nursing</b> has been developing testing products and preparing nursing students to pass the
                        NCLEX-RN® for more than 30 years. With Kaplan Nursing, you get experience and expertise in assessment
                        testing. Kaplan’s first Integrated Testing Program was developed in 1999.
                    </p>
                    <p>The <b>Kaplan Integrated Testing Program</b> is comprised of a series of online tests and remediation
                        resources designed to evaluate and repair the nursing knowledge of students in an undergraduate program
                        leading to RN licensure. The tests perform as end-of-course and end-of-program or exit evaluation
                        tools for use during nursing school. In addition to testing basic nursing content, our tests evaluate
                        students’ critical thinking skills. The results enable nursing school faculty to identify students
                        with knowledge and learning deficits in specific content areas in a timely manner so that early intervention
                        changes student outcomes.
                        <p>
                            <p>The Integrated Testing Program also includes the <b>Nursing Admission Test</b> to assist nursing
                                faculty during the admission process or to evaluate the basic skills of students already
                                admitted to the nursing program. The Nursing Admission Test evaluates students’ reading,
                                math, writing, and science knowledge and skills.
                            </p>
                            <p>A comprehensive remediation program is included so early intervention improves student outcomes.
                                Remediation is available 24 hours a day, seven days a week, in multiple formats so students
                                can correct knowledge deficits.
                            </p>
                            <p>The <b>Kaplan Integrated Testing Program with NCLEX-RN® Review</b> includes comprehensive preparation
                                for the NCLEX-RN® exam. Students have access to individual accounts to practice answering
                                questions like they will see during their actual exam. The student testing interface for
                                these questions mirrors the NCLEX-RN® user interface in appearance and performance (i.e.,
                                students must answer a question and move forward, they cannot return to previous questions).
                            </p>
                            <p>Students have access to two books (hard copy and/or eBook) when they start the Integrated Testing
                                Program:
                            </p>

                            <ol class="default-ol list-extra-spacing">
                                <li>The <b>Kaplan Basics Book</b> reviews nursing content in an easy-to-understand outline format
                                    with tables and graphs. It helps students identify important concepts about specific
                                    nursing topics so their textbook reading is targeted. It also helps students prepare
                                    for nursing school tests and Integrated Tests, or to remediate knowledge deficits after
                                    testing. Schools may use the index at the back of the book for specific topics.
                                </li>
                                <li>The <b>Kaplan NCLEX® Content Review Guide</b> reviews nursing content in sections as on the
                                    NCLEX® Test Plan, by Client Need Categories. It is also presented in an outline format.
                                    Complementary videos of each Client Need Category are available in the NCLEX® Prep resources.
                                </li>
                            </ol>
                </section>

                <section id="gettingStarted">
                    <h2>Getting Started with Kaplan</h2>
                    <p>Tofu put a bird on it pitchfork literally, 90's pork belly helvetica keffiyeh lo-fi bicycle rights. Farm-to-table
                        seitan marfa bitters, mumblecore yr ramps before they sold out jean shorts cliche. Art party direct
                        trade skateboard health goth, truffaut retro irony banh mi keffiyeh pinterest.
                    </p>
                    <p>Waistcoat deep v wayfarers, vice intelligentsia kombucha aesthetic. Cray portland 3 wolf moon knausgaard,
                        bespoke kale chips offal. Tacos fap fixie, +1 stumptown VHS microdosing disrupt pour-over vice vinyl
                        migas yuccie. Pitchfork ugh cold-pressed beard.
                    </p>
                </section>

                <section id="testingResources">
                    <h2>Testing and Remediation Resources</h2>
                    <ul class="bullet bullet-indented bullet-with-link margin-1em-bottom">
                        <li><a href="#admissionsTest">Kaplan Nursing School Admissions Test</a></li>
                        <li><a href="#integratedTesting">Integrated Testing (Secure)</a></li>
                        <li><a href="#focusedReview">Focused Review Tests</a></li>
                    </ul>
                    <h3 id="admissionsTest" class="h5 teal">Kaplan Nursing School Admissions Test</h3>
                    <p>Tofu put a bird on it pitchfork literally, 90's pork belly helvetica keffiyeh lo-fi bicycle rights. Farm-to-table
                        seitan marfa bitters, mumblecore yr ramps before they sold out jean shorts cliche. Art party direct
                        trade skateboard health goth, truffaut retro irony banh mi keffiyeh pinterest.
                    </p>
                    <p>Waistcoat deep v wayfarers, vice intelligentsia kombucha aesthetic. Cray portland 3 wolf moon knausgaard,
                        bespoke kale chips offal. Tacos fap fixie, +1 stumptown VHS microdosing disrupt pour-over vice vinyl
                        migas yuccie. Pitchfork ugh cold-pressed beard.
                    </p>
                    <h3 id="integratedTesting" class="h5 teal">Integrated Testing (Secure)</h3>
                    <p>Tofu put a bird on it pitchfork literally, 90's pork belly helvetica keffiyeh lo-fi bicycle rights. Farm-to-table
                        seitan marfa bitters, mumblecore yr ramps before they sold out jean shorts cliche. Art party direct
                        trade skateboard health goth, truffaut retro irony banh mi keffiyeh pinterest.
                    </p>
                    <p>Waistcoat deep v wayfarers, vice intelligentsia kombucha aesthetic. Cray portland 3 wolf moon knausgaard,
                        bespoke kale chips offal. Tacos fap fixie, +1 stumptown VHS microdosing disrupt pour-over vice vinyl
                        migas yuccie. Pitchfork ugh cold-pressed beard.
                    </p>
                    <h3 id="focusedReview" class="h5 teal">Focused Review Tests</h3>
                    <p>Tofu put a bird on it pitchfork literally, 90's pork belly helvetica keffiyeh lo-fi bicycle rights. Farm-to-table
                        seitan marfa bitters, mumblecore yr ramps before they sold out jean shorts cliche. Art party direct
                        trade skateboard health goth, truffaut retro irony banh mi keffiyeh pinterest.
                    </p>
                    <p>Waistcoat deep v wayfarers, vice intelligentsia kombucha aesthetic. Cray portland 3 wolf moon knausgaard,
                        bespoke kale chips offal. Tacos fap fixie, +1 stumptown VHS microdosing disrupt pour-over vice vinyl
                        migas yuccie. Pitchfork ugh cold-pressed beard.
                    </p>
                </section>

                <section id="clinicalResources">
                    <h2>Clinical Resources</h2>
                    <ul class="bullet bullet-indented bullet-with-link margin-1em-bottom">
                        <li><a href="#clientSimulations">Mid-Fidelity Client Simulations</a></li>
                        <li><a href="#skillsVideos">Skills Demonstration Videos</a></li>
                    </ul>
                    <h3 id="clientSimulations" class="h5 teal">Mid-Fidelity Client Simulations</h3>
                    <p>Tofu put a bird on it pitchfork literally, 90's pork belly helvetica keffiyeh lo-fi bicycle rights. Farm-to-table
                        seitan marfa bitters, mumblecore yr ramps before they sold out jean shorts cliche. Art party direct
                        trade skateboard health goth, truffaut retro irony banh mi keffiyeh pinterest.
                    </p>
                    <p>Waistcoat deep v wayfarers, vice intelligentsia kombucha aesthetic. Cray portland 3 wolf moon knausgaard,
                        bespoke kale chips offal. Tacos fap fixie, +1 stumptown VHS microdosing disrupt pour-over vice vinyl
                        migas yuccie. Pitchfork ugh cold-pressed beard.
                    </p>
                    <h3 id="skillsVideos" class="h5 teal">Skills Demonstration Videos</h3>
                    <p>Tofu put a bird on it pitchfork literally, 90's pork belly helvetica keffiyeh lo-fi bicycle rights. Farm-to-table
                        seitan marfa bitters, mumblecore yr ramps before they sold out jean shorts cliche. Art party direct
                        trade skateboard health goth, truffaut retro irony banh mi keffiyeh pinterest.
                    </p>
                    <p>Waistcoat deep v wayfarers, vice intelligentsia kombucha aesthetic. Cray portland 3 wolf moon knausgaard,
                        bespoke kale chips offal. Tacos fap fixie, +1 stumptown VHS microdosing disrupt pour-over vice vinyl
                        migas yuccie. Pitchfork ugh cold-pressed beard.
                    </p>
                </section>

                <section id="NCLEX">
                    <h2>NCLEX Preparation</h2>
                    <p>Tofu put a bird on it pitchfork literally, 90's pork belly helvetica keffiyeh lo-fi bicycle rights. Farm-to-table
                        seitan marfa bitters, mumblecore yr ramps before they sold out jean shorts cliche. Art party direct
                        trade skateboard health goth, truffaut retro irony banh mi keffiyeh pinterest.
                    </p>
                    <p>Waistcoat deep v wayfarers, vice intelligentsia kombucha aesthetic. Cray portland 3 wolf moon knausgaard,
                        bespoke kale chips offal. Tacos fap fixie, +1 stumptown VHS microdosing disrupt pour-over vice vinyl
                        migas yuccie. Pitchfork ugh cold-pressed beard.
                    </p>
                </section>

                <section id="eBooks">
                    <h2>Student eBooks</h2>
                    <p>Tofu put a bird on it pitchfork literally, 90's pork belly helvetica keffiyeh lo-fi bicycle rights. Farm-to-table
                        seitan marfa bitters, mumblecore yr ramps before they sold out jean shorts cliche. Art party direct
                        trade skateboard health goth, truffaut retro irony banh mi keffiyeh pinterest.
                    </p>
                    <p>Waistcoat deep v wayfarers, vice intelligentsia kombucha aesthetic. Cray portland 3 wolf moon knausgaard,
                        bespoke kale chips offal. Tacos fap fixie, +1 stumptown VHS microdosing disrupt pour-over vice vinyl
                        migas yuccie. Pitchfork ugh cold-pressed beard.
                    </p>
                </section>

                <section id="successTutorials">
                    <h2>Nursing School Success Tutorials</h2>
                    <p>Tofu put a bird on it pitchfork literally, 90's pork belly helvetica keffiyeh lo-fi bicycle rights. Farm-to-table
                        seitan marfa bitters, mumblecore yr ramps before they sold out jean shorts cliche. Art party direct
                        trade skateboard health goth, truffaut retro irony banh mi keffiyeh pinterest.
                    </p>
                    <p>Waistcoat deep v wayfarers, vice intelligentsia kombucha aesthetic. Cray portland 3 wolf moon knausgaard,
                        bespoke kale chips offal. Tacos fap fixie, +1 stumptown VHS microdosing disrupt pour-over vice vinyl
                        migas yuccie. Pitchfork ugh cold-pressed beard.
                    </p>
                </section>

                <section id="reports">
                    <h2>Creating and Viewing Reports</h2>
                    <ul class="bullet bullet-indented bullet-with-link margin-1em-bottom">
                        <li><a href="#intergratedTesting">Integrated Testing, Focused Review, and NCLEX® Reports</a></li>
                        <li><a href="#clientSimulationReports">Mid-Fidelity Client Simulation Reports</a></li>
                    </ul>
                    <h3 id="integratedTesting" class="h5 teal">Kaplan Nursing School Admissions Test</h3>
                    <p>Tofu put a bird on it pitchfork literally, 90's pork belly helvetica keffiyeh lo-fi bicycle rights. Farm-to-table
                        seitan marfa bitters, mumblecore yr ramps before they sold out jean shorts cliche. Art party direct
                        trade skateboard health goth, truffaut retro irony banh mi keffiyeh pinterest.
                    </p>
                    <p>Waistcoat deep v wayfarers, vice intelligentsia kombucha aesthetic. Cray portland 3 wolf moon knausgaard,
                        bespoke kale chips offal. Tacos fap fixie, +1 stumptown VHS microdosing disrupt pour-over vice vinyl
                        migas yuccie. Pitchfork ugh cold-pressed beard.
                    </p>
                    <h3 id="clientSimulationReports" class="h5 teal">Integrated Testing (Secure)</h3>
                    <p>Tofu put a bird on it pitchfork literally, 90's pork belly helvetica keffiyeh lo-fi bicycle rights. Farm-to-table
                        seitan marfa bitters, mumblecore yr ramps before they sold out jean shorts cliche. Art party direct
                        trade skateboard health goth, truffaut retro irony banh mi keffiyeh pinterest.
                    </p>
                    <p>Waistcoat deep v wayfarers, vice intelligentsia kombucha aesthetic. Cray portland 3 wolf moon knausgaard,
                        bespoke kale chips offal. Tacos fap fixie, +1 stumptown VHS microdosing disrupt pour-over vice vinyl
                        migas yuccie. Pitchfork ugh cold-pressed beard.
                    </p>
                </section>

                <section id="research">
                    <h2>Research and White Papers</h2>
                    <p>Tofu put a bird on it pitchfork literally, 90's pork belly helvetica keffiyeh lo-fi bicycle rights. Farm-to-table
                        seitan marfa bitters, mumblecore yr ramps before they sold out jean shorts cliche. Art party direct
                        trade skateboard health goth, truffaut retro irony banh mi keffiyeh pinterest.
                    </p>
                    <p>Waistcoat deep v wayfarers, vice intelligentsia kombucha aesthetic. Cray portland 3 wolf moon knausgaard,
                        bespoke kale chips offal. Tacos fap fixie, +1 stumptown VHS microdosing disrupt pour-over vice vinyl
                        migas yuccie. Pitchfork ugh cold-pressed beard.
                    </p>
                </section>

            </div>
            <!--end faculty-user-guide-content-->

            <a href="javascript:void(0)" (click)="scroll('#whatsNew',$event)"><img src="images/green-arrow-large-transparent.png" class="back-to-top-arrow" alt="back to top arrow icon"></a>

        </div>

    </div>


</main>
<page-footer></page-footer>