<h3>Lowest Performing Students
	<span class="smaller">(Threshold: 68)</span>
</h3>
<table>
	<tbody>
		<tr>
			<th class="table-names">Name</th>
			<th class="table-data-single centered-th">Test Score</th>
			<th class="table-data-single">Remediation*</th>
		</tr>
		<tr>
			<td>Freiman, Allison</td>
			<td class="center">58.7%
				<img src="/images/attention.png" alt="attention!">
			</td>
			<td>0:00
				<img src="/images/attention.png" alt="attention!">
			</td>
		</tr>
		<tr>
			<td>Miller, Stephanie</td>
			<td class="center">60.0%
				<img src="/images/attention.png" alt="attention!">
			</td>
			<td>0:36
				<img src="/images/attention.png" alt="attention!">
			</td>
		</tr>
		<tr>
			<td>Salvador, Charlene</td>
			<td class="center">62.7%
				<img src="/images/attention.png" alt="attention!">
			</td>
			<td>1:02
				<img src="/images/green-checkmark.png" alt="OK">
			</td>
		</tr>
		<tr>
			<td>McGovern, Terrence</td>
			<td class="center">64.0%
				<img src="/images/attention.png" alt="attention!">
			</td>
			<td>0:00
				<img src="/images/attention.png" alt="attention!">
			</td>
		</tr>
		<tr>
			<td>Williams, Kelly Ann</td>
			<td class="center">68.5%
				<img src="/images/green-checkmark.png" alt="OK">
			</td>
			<td>0:31
				<img src="/images/attention.png" alt="attention!">
			</td>
		</tr>
	</tbody>
</table>
<p class="asterick">*Average remediation time per question</p>
<a href="#" class="indented">View Student Report Card</a>