<!DOCTYPE html>
<html lang="en-US">
  
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <title>Kaplan Nursing</title>
    <link rel="stylesheet" href="/css/main.css"></link>
  </head>
  
  <body>
    <page-header></page-header>
    <main role="main" class="app-main">
      <div class="outer-container outer-container--lt-teal">
        <div class="width-wrapper">
          <dashboard-header></dashboard-header>
          <div class="dashboard-grid-container">
            <div class="dashboard-grid">
              <dashboard-pod1></dashboard-pod1>
            </div>
            <div class="dashboard-grid dashboard-grid-wide">
              <dashboard-pod2></dashboard-pod2>
            </div>
            <div class="dashboard-grid dashboard-grid-wide">
              <dashboard-pod3></dashboard-pod3>
            </div>
            <div class="dashboard-grid dashboard-grid--red">
              <dashboard-pod4></dashboard-pod4>
            </div>
          </div>
        </div>
      </div>
      <div class="outer-container outer-container--teal">
        <nav class="navigation width-wrapper" role="navigation">
          <ul class="nav-items">
            <li class="nav-icon">
              <a>Schedule a test</a>
            </li>
            <li class="nav-icon">
              <a>Access reports</a>
            </li>
            <li class="nav-icon">
              <a>Find resources</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="outer-container outer-container--white">
        <div class="width-wrapper">
          <div class="tools-link-grid">
            <div class="reporting-tools-grid">
              <h3>Reporting Tools</h3>
              <div class="faculty-links">
                <div class="faculty-link-list">
                  <h4>
                    <a class="mobile-button" href="#">Student Report Card</a>
                  </h4>
                  <span>Review your students’ individual performance</span>
                </div>
                <div class="faculty-link-list">
                  <h4>
                    <a class="mobile-button" href="#">Test Result by Question</a>
                  </h4>
                  <span>Review performance by topic and difficulty level</span>
                </div>
                <div class="faculty-link-list">
                  <h4>
                    <a class="mobile-button" href="#">Cohort by Test</a>
                  </h4>
                  <span>Review your cohort’s performance</span>
                </div>
                <div class="faculty-link-list">
                  <h4>
                    <a class="mobile-button" href="#">Utilization Report</a>
                  </h4>
                  <span>Review how your students are using their resources</span>
                </div>
              </div>
            </div>
            <div class="teaching-tools-grid">
              <h3>Teaching Tools</h3>
              <div class="faculty-links">
                <div class="faculty-link-list">
                  <span>For content mastery</span>
                  <h4>
                    <a class="mobile-button" href="#">Focused Review Tests</a>
                  </h4>
                  <ul class="bullet">
                    <li>Assign standard tests or create your own</li>
                    <li>Utilize extensive remediation resources</li>
                  </ul>
                </div>
                <div class="faculty-link-list">
                  <span>For practical learning instruction</span>
                  <h4>
                    <a class="mobile-button" href="#">Clinical Resources</a>
                  </h4>
                  <ul class="bullet">
                    <li>Assign up to six client simulations</li>
                    <li>Assign skills demonstration and simulation videos</li>
                  </ul>
                </div>
                <div class="faculty-link-list">
                  <span>For standardized test mastery</span>
                  <h4>
                    <a class="mobile-button" href="#">NCLEX Resources</a>
                  </h4>
                  <ul class="bullet">
                    <li>Assign diagnostic tests and Question Trainers</li>
                    <li>Assign content, test-taking and Decision Tree videos</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="outer-container--gray">
        <div class="width-wrapper">
          <div class="bottom-grid">
            <div class="bottom-grid-cell">
              <h5>News and views from your Kaplan partners</h5>
              <h6 class="normal">Using Clickers in the Classroom to Increase Student Engagement</h6>
              <div class="media-unit">
                <img src="/images/blog-image.jpg" class="img-left" alt="Lisa M. Bennett, MSN, RN">
                <p class="tag-line">By Lisa M. Bennett, MSN, RN, Kaplan Nurse Educator Consultant</p>
                <p>Nurse Educators are challenged to search for effective methods to engage students in their learning…</p>
              </div>
              <a href="#"><p class="right">Read more on the blog</p></a>
            </div>
            <div class="bottom-grid-cell">
              <h5>Meet your Kaplan Nurse Consultant</h5>
              <div class="media-unit">
                <img src="/images/nurse-consultant.jpg" class="img-left" alt="Your nurse consultant">
                <h6 class="normal">Maria Flores-Harris, MSN, RN, CNE</h6>
                <p>Maria has nearly 20 years of experience as a Registered Nurse and Nurse Educator. She received her Bachelor of Science and
                  Master of Science degrees in Nursing from Clemson University and remains loyal to her Clemson Tigers!…</p>
              </div>
              <a href="#"><p class="right">Learn more about Maria</p></a>
            </div>
          </div>
        </div>
      </div>
      <!--Modal-->
      <div class="modal hide">
        <input class="modal-state" id="modal-1" type="checkbox">
        <div class="modal-fade-screen">
          <div class="modal-inner">
            <div class="modal-top">
              <div class="modal-close" aria-label="Close"></div>
            </div>
            <div class="modal-content">
              <h2 class="h4">Attend an upcoming Kaplan Orientation Webinar</h2>
              <p>Learn everything you need to know about the Kaplan resources available to you and your students! Our helpful online senimars,
                delivered by a Kaplan Nurse Consultant, are conveniently held throughout April, May and June.</p>
              <div class="modal-double-buttons">
                <button class="modal-close-button">See dates and sign up</button>
                <button class="modal-close-button">I'll sign up later</button>
                <div class="right">
                  <input type="checkbox">
                  <label class="inline small-label">Don't show me this again</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!--<script src="https://code.angularjs.org/2.0.0-alpha.23/angular2.sfx.dev.js"></script>
    <script src="/components/page-header.js"></script>
    <script src="/components/dashboard-header.js"></script>
    <script src="/components/dashboard-pod1.js"></script>
    <script src="/components/dashboard-pod2.js"></script>
    <script src="/components/dashboard-pod3.js"></script>
    <script src="/components/dashboard-pod4.js"></script>-->
  </body>

</html>