<div class="bottom-grid-cell">
  <div class="section-purple"></div>
  <div class="kaplan-profiles">
    <h2 class="profiles-heading" id="account-manager">{{profile.header}}</h2>
    <img src={{photoUrl}} class="profile-image" alt='{{profile.FirstName}} {{profile.LastName}} profile picture' aria-describedby="account-manager">
    <p class="profile-name h5">{{profile.FirstName}} {{profile.LastName}}</p>
    <p class="h6 text-purple">Ed.S., PGC-PSY, LAC</p>
    <a [router-link]="['/Profiles',{id : profile.kaplanAdminId}]" class="button">Learn more and contact</a>
  </div>
  <div class="section-medium-thin for-help-list">
    <p class="bullet-heading">For help with:</p>
    <ul class="bullet bullet-indented">
      <li *ng-for="#bullet of profile.bulletsForFrontEnd">{{bullet}}</li>
    </ul>
  </div>
</div>