<password-header></password-header>

<main role="main" class="app-logged-out">
    <div class="section">
        <div class="container-narrow">
            <h2>Set your new password</h2>
            <p>You’re almost there!</p>
            <p>
                Your new password must be at least 8 characters long, different than the last 5 passwords you have used, and contain at least one number and at least one special character. @, !, #, $, % are examples of special characters. Choose something easy for you to remember but difficult for others to figure out.
            </p>

            <form class="all-inputs-required margin-2em-top" role="form">
                <label for="newPassword">New password</label>
                <input class="required-input" id="newPassword" #newpassword type="password" oncopy="return false" onpaste="return false" (keyup)="checkpasswordlength(newpassword,passwordconfirmation,$event)" aria-required="true" >

                <label for="passwordConfirmation">New password confirmation</label>
                <input class="required-input" id="passwordConfirmation" #passwordconfirmation type="password" oncopy="return false" onpaste="return false" (keyup)="checkpasswordlength(newpassword,passwordconfirmation,$event)" aria-required="true" >
                
                <p #errorcontainer class="error" role="alert" aria-live="assertive" aria-atomic="true">
                    <span id="spnErrorMessage">{{errorMessage}}</span>
                </p>
                <button *ngIf="!resetSuccess" type="submit" class="margin-1em-top button button-with-validation button-mobile-block" id="resetPassword" [attr.aria-disabled]="invalidLength" [disabled]="invalidLength" #resetpassword (click)="onResetPassword(newpassword,passwordconfirmation,resetpassword,homeredirectlink,errorcontainer,successcontainer,$event)">
                    Set your new password
                </button>
                <p class="success-container" role="status" aria-live="assertive" aria-atomic="true">
                    <span *ngIf="resetSuccess" #successcontainer class="success success-icon">You have successfully set your new password.</span>
                </p>
                <a *ngIf="resetSuccess" class="button" (click)="redirect($event)" #homeredirectlink>Go to your home page</a>
            </form>
        </div>
    </div>
</main>


<terms-of-use [showTerms]="showTerms"
              (buttonEvent)="confirm()"
              (cancelEvent)="onCancel()"
              [showX]="false"
              [showCancel]="true"
              [showCheckbox]="true"
              [buttonText]="'Confirm'" 
              [termsAccepted]="false"
></terms-of-use>  
